frontend/src/modules/layout/page-error/page-error.component.html
<layout
    ><div class="container-xl mt-5">
        <div class="body">
            <div class="card">
                <div class="d-flex" style="border-radius: 200px; height: 200px; width: 200px; background: #faf6f5; margin: 0 auto"><i class="bi bi-x-octagon-fill m-auto"></i></div>
                <div>
                    <h1>Erorr</h1>
                    <p>Thanh toán đơn hàng thất bại<br /><span class="text-primary mx-4 pointer" routerLink="/home">Về trang chủ </span><span class="text-primary mx-4 pointer" routerLink="/cart">Về giỏ hàng</span></p>
                </div>
            </div>
        </div>
    </div></layout
>

frontend/src/modules/layout/page-error/page-error.component.pug
layout
    div.container-xl.mt-5
        .body
            div.card
                div.d-flex(style="border-radius:200px; height:200px; width:200px; background:  #faf6f5; margin:0 auto;")
                    i.bi.bi-x-octagon-fill.m-auto
                div
                    h1 Erorr
                    p Thanh toán đơn hàng thất bại
                        br 
                        span.text-primary.mx-4.pointer( routerLink="/home" ) Về trang chủ 
                        span.text-primary.mx-4.pointer( routerLink="/cart" ) Về giỏ hàng
