frontend/src/modules/dashboard/containers/product/product.component.pug
sb-layout-dashboard
    sb-dashboard-head(title='Sản phẩm', [hideBreadcrumbs]='false')
        
    div
    div.alert.alert-success( *ngIf = "alertTB.show")
        span {{ alertTB.msg }}
    //table ============================
    img([src]="img", alt="")
    div.boder-top-0
        div.card
            div.card-header
                span.fw-bold.text-muted Bảng sản phẩm
            div.card-body
                div.my-3.d-flex
                    label.my-auto(for="") Tìm kiếm:  
                    span
                        input.form-control.mx-2(#searchInput,type="search",[(ngModel)]="txtSearch" ,(keyup.enter) = "fillterProductByCate()",placeholder = "Nhập từ khóa")
                    span.mx-3
                        select.form-control( (change)="setCategory(category)", [(ngModel)]="category" )
                            option([ngValue]="null") Tất cả
                            option( *ngFor="let ctg of categoryDatas.data" ,[ngValue]="ctg") {{ ctg.typeName }}
                    div.ml-auto
                        button.btn.btn-primary.my-auto([routerLink]="['add-product']") Thêm sản phẩm
                ul.nav.nav-tabs(id="myTab" ,role="tablist")
                    li.nav-item.pointer(role="presentation", )
                        span.nav-link.active( data-toggle="tab" , role="tab", [ngClass]="tab == 1? 'bg-success text-white' : '' ", (click)="search()" ,aria-selected="true") Sản phẩm đang bán
                    li.nav-item.pointer(role="presentation", )
                        span.nav-link( data-toggle="tab" , role="tab", [ngClass]="tab == 2? 'bg-success text-white' : '' ", (click)="getProductQuantity0()" ,aria-selected="true") Sản phẩm hết số lượng
                    li.nav-item.pointer(role="presentation", )
                        span.nav-link( data-toggle="tab" , role="tab", [ngClass]="tab == 3? 'bg-success text-white' : '' ", (click)="getNgungBan()" ,aria-selected="true") Sản phẩm ngừng bán
                div.d-flex.h-300px( *ngIf="loading" )
                    div.spinner-border.m-auto(role="status")
                div( *ngIf="!loading" )
                    div( *ngIf="datas?.content.length <= 0" )
                        div.h-300px.d-flex
                            span.m-auto.h3.text-muted Không có gì
                    table.table.table-striped( *ngIf="datas?.content.length > 0" )
                        thead 
                            tr
                                th(style="width: 30px") STT
                                th Sản phẩm
                                //- th Kích thước
                                //- th Số lượng
                                //- th Giá
                                th
                        tbody 
                            tr(*ngFor = "let data of datas.content; let index = index")
                                th {{data.stt}}
                                td 
                                    div.d-flex
                                        img.mr-2([src] = "data?.productSizeList[0]?.imagePath", style="width :100px; height:100px; object-fit : cover;") 
                                        //- img.mr-2(src = "https://caydeban.com.vn/image/catalog/products/sen-da/_MG_9158.jpg", style="width :100px") 
                                        
                                        div.d-flex.flex-column
                                            span.text.fw-bold 
                                                b  {{ data.productName }}
                                            span 
                                                span.text-muted 
                                                    b Thể loại: 
                                                    
                                                span {{ data?.type?.typeName }} 
                                            span 
                                                span.text-muted 
                                                    b Ánh sáng phù hợp: 
                                                    
                                                span {{data?.lightAspect?.lightAspectName}} 
                                            span 
                                                span.text-muted 
                                                    b Môi trường sống: 
                                                    
                                                span( *ngFor=" let hbt of data?.habitatsList ; let i = index " )  {{ hbt.habitatsName }}{{ i ===  data?.habitatsList.length - 1 ? '.' : ',' }}
                                            

                                            //- span.text-2-line
                                            //-     span.text-muted
                                            //-         b Mô tả: 
                                            //-     span {{ data.moTa}}
                                //- td.align-middle
                                //-     span.d-flex.h-100 
                                //-         span.my-auto 
                                //-             div( *ngFor = "let prdSize of data.productSizeList" ) 
                                //-                 span {{ prdSize.size.sizeName }}
                                //- td.align-middle
                                //-     span.d-flex.h-100 
                                //-         span.my-auto 
                                //-             div( *ngFor = "let prdSize of data.productSizeList" ) 
                                //-                 span  {{ prdSize.quantity | number }}
                                //- td.align-middle
                                //-     span.d-flex.h-100 
                                //-         span.my-auto 
                                //-             div( *ngFor = "let prdSize of data.productSizeList" ) 
                                //-                 span {{ prdSize.price | number}} VND
                          
                                td.align-middle
                                    span.d-flex
                                        button.mx-1.ml-auto.bi.bi-pencil-square.btn.btn-warning([routerLink]="['edit-product',data.idProduct]",*ngIf="tab != 3" )  Sửa
                                        button.mx-1.btn.btn-primary(style="width:100px",*ngIf="tab != 3" ,[routerLink] = "['/admin/product/info-product',data.idProduct]") Chi tiết
                                        button.mx-1.btn.btn-danger.my-auto.pointer.bi.bi-trash3(data-toggle="modal",data-target="#deleteProduct", (click) = "alertDeleteProduct(data)", *ngIf="tab != 3" )  Ngừng bán
                                        button.ml-auto.btn.btn-primary(*ngIf="tab == 3", [routerLink]="['edit-product','ban-lai',data.idProduct]" ,) Bán lại

            div.card-footer.d-flex( *ngIf = "datas?.content?.length > 0")
                div Dòng {{datas?.content?.length}}/{{datas.size}}
                div.mx-auto Trang {{pageNumber+1}}/{{datas.totalPages}}
                nav(aria-label="")
                    ul.pagination.row
                        li.page-item
                            span.page-link.pointer(href="#", aria-label="Previous",(click) = "actionPage(prePage(inputPage,datas.totalPages),searchInput)")
                                span(aria-hidden="true") &laquo;
                        li(page-item)
                            input.text-center.h-100.border.outline-none(#inputPage,(keyup.enter) = "actionPage(getPage(inputPage,datas.totalPages),searchInput)", min="1",[value] = "(pageNumber+1)" , style = "width : 40px",type="number")
                        li( class="page-item")
                            span.page-link.pointer( href="#" aria-label="Next", (click) = "actionPage(nextPage(inputPage,datas.totalPages),searchInput)" )
                                span(aria-hidden="true") &raquo;                       

//- modal-------------------------;
//- div.modal.fade(id="addProduct" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
//-   div.modal-dialog.modal-dialog-centered.modal-lg
//-     div.modal-content
//-         div.modal-header.py-1
//-             h5.modal-title( id="exampleModalLabel") {{actionEdit ? 'Sửa' : 'Thêm'}} Sản phẩm
//-             span.pointer(class="close", data-dismiss="modal", aria-label="Close" ,#closeModal )
//-                 span(aria-hidden="true") &times;
//-         div.modal-body
//-             div 
//-                 form.row([formGroup] = "formGroup",(ngSubmit) ="onSubmit(closeModal)"  )
//-                     div.col-12.col-lg-8
//-                         div.row
//-                             div.col-12.my-2
//-                                 label(for="") Tên sản phẩm
//-                                     span.text-danger * 
//-                                 input.form-control( [ngClass]= "(getFormControl?.productName?.errors && submited) || errorAPI === 'FAIL_PRODUCT_NAME' ? 'outline-danger':''" ,type="text",formControlName = "productName")
//-                                 span.text-danger( *ngIf = "getFormControl?.productName?.errors?.required && submited") Không để trống tên sản phẩm
//-                                 span.text-danger( *ngIf = "getFormControl?.productName?.errors?.minlength && submited") Tên sản phẩm tối thiểu 5 kí tự
//-                                 span.text-danger( *ngIf = " errorAPI === 'FAIL_PRODUCT_NAME' && submited") Tên đăng nhập này đã được sử dụng
                           
//-                             div.col-12.my-2
//-                                 //- label(for="") Thể loại*
//-                                 //- select.form-control([ngClass]= "getFormControl?.categorySonReq?.errors && submited ? 'outline-danger':''" ,formControlName = "categorySonReq" )
//-                                 //-     option( *ngFor="let category of categoryDatas.content" ,[ngValue]="category") {{ category.categorySonName }}
//-                                 div.row
//-                                     span.col-6
//-                                         label(for="") Danh mục
//-                                             span.text-danger * 
//-                                         select.form-control(name="" ,  formControlName = "categoryDad")
//-                                             option( *ngFor = "let ctgParent of categoryDatas.content" ,[ngValue]="ctgParent") {{ ctgParent.categoryDadName }}
//-                                     span.col-6
//-                                         label(for="") Thể loại 
//-                                             span.text-danger * 
//-                                         select.form-control(name="", formControlName = "categorySonReq")
//-                                             option( *ngFor = "let ctgChild of getFormControl['categoryDad']?.value?.categorySonlst" ,[ngValue]="ctgChild")  {{ ctgChild.categorySonName  }}
//-                                 span.text-danger( *ngIf = "getFormControl?.categorySonReq?.errors?.required && submited") Chọn thể loại

//-                             div.col-12
//-                                 label(for="", ) Kích thước
//-                                     span.text-danger * 
//-                                 div.text-warning( *ngIf = "!getFormControl['categoryDad']?.value?.sizeList") Chọn danh danh mục đẻ hiển thị kích thước
//-                                 div.text-warning( *ngIf = "getFormControl['categoryDad']?.value?.sizeList?.length < 1 && getFormControl['categoryDad']?.value?.sizeList") Danh mục này chưa có kích thước
//-                                 div(*ngFor = "let size of getFormControl['categoryDad']?.value?.sizeList; let i = index;")
//-                                     div.row
//-                                         input.mx-2(#inputCB, type="checkBox",  (click) = "clickCheckBox(inputCB,inputPrice,inputQuantity,size,i,productSize[i])" ) 
//-                                         label([for]="'ip'+size.idSize") {{ size.sizeName }} {{ productSize[0]?.status === 1 }}
//-                                     div.row(  #priceAndQuantity )
//-                                         div.col-4.my-2
//-                                             div.d-flex 
//-                                                 div.bi.bi-dash.border.align-middle.px-2.py-2.mb-0((click) = "getDash(inputQuantity)")
//-                                                 input.border(  [value] = "productSize[i]?.quantity",(change)="setValueProductSize(inputQuantity,inputPrice,i,productSize[i])", #inputQuantity,placeholder = "Số lượng*" ,class="quantity mb-0 text-center",style = "width: 60px;outline: none;" , min="0",value=1 ,type="number")
//-                                                 div.bi.bi-plus.border.align-middle.px-2.py-2.mb-0((click) = "getPlus(inputQuantity,100)")
//-                                             //- span.text-danger( *ngIf = "getFormControl?.soLuong?.errors?.required && submited") Không để trống số lượng
//-                                             //- span.text-danger( *ngIf = "getFormControl?.soLuong?.errors?.min && submited") Số lượng phải lớn hơn 0
//-                                             //- span.text-danger( *ngIf = "getFormControl?.soLuong?.errors?.max && submited") Số lượng phải không được quá 100,000 cái   
//-                                         div.col-6.my-2
//-                                             div.input-group
//-                                                 input.inputPrice.form-control((change)="setValueProductSize(inputQuantity,inputPrice,i,productSize[i])",[value] = "productSize[i]?.price",#inputPrice, placeholder =" Giá bán",[ngClass]= "getFormControl?.giaBan?.errors && submited ? 'outline-danger':''" ,type="number")
//-                                                 div.input-group-append
//-                                                     span.input-group-text(id="basic-addon2") VND
//-                                         //- span.text-danger( *ngIf = "getFormControl?.giaBan?.errors?.required && submited") Không để trống giá
//-                                         //- span.text-danger( *ngIf = "getFormControl?.giaBan?.errors?.min && submited") Giá phải lớn hơn 0 
                                    

//-                             div.col-12.my-2
//-                                 label(for="") Mô tả
//-                                 textarea.form-control( style = "height: 100px;" ,[ngClass]= "getFormControl?.moTa?.errors && submited ? 'outline-danger':''" ,formControlName = "moTa")
                                
                        
//-                     div.col-12.col-lg-4.my-2.flex-column.d-flex
//-                         label(for="") Tệp ảnh
//-                             span.text-danger * 
//-                             span  {{ showImage.length }} | 4
//-                         input.inputfile(#inputFile,type="file",accept="image/*" , multiple , (change) = "setFiles($event)")
//-                         span.row.m-0.border.mb-3([ngClass]= "(showImage.length ) < 1 && submited ? 'outline-danger':''" ,)
//-                                 span.aspect-ratio-1.col-lg-6.col-3.p-0.position-relative(*ngFor="let image of showImage; let i = index")
//-                                     span.w-100.hover-delete-img
//-                                         img.border-2.col-12.py-3.w-100.aspect-ratio-1([src]="image",style="object-fit: cover;")
//-                                         span.position-absolute.w-100.bg-dark.left-0.right-0.opacity-0(style = "aspect-ratio : 1;",data-toggle="modal",data-target="#deleteImage",(click) = "alertDeleteImage(i,null)") 
//-                                             span.align-items-center.text-center.w-100.aspect-ratio-1.d-flex
//-                                                 span.m-auto.d-flex.flex-column
//-                                                     i.bi.bi-x.h2.text-danger
//-                                                     span.text-white Xóa ảnh 
//-                                 span.hover-delete-img.p-0.aspect-ratio-1.col-lg-6.col-3( *ngIf="!((showImage.length ) >= 4)" )
//-                                     span.w-100( [ngClass] = "showImage.length < 1 ? 'h-100' : 'aspect-ratio-1'" ,(click) = "inputFile.click()") 
//-                                         span.align-items-center.text-center.w-100.aspect-ratio-1.d-flex
//-                                             span.m-auto.d-flex.flex-column
//-                                                 i.bi.bi-plus.h2.text-info
//-                                                 span.text-info Thêm ảnh
//-                         span.text-danger( *ngIf = "(showImage.length  < 1) && submited") Chưa chọn ảnh
//-                         div.mt-auto
//-                             button.btn.btn-primary.ms-auto.col-lg-12
//-                                 div.spinner-border.spinner-border-sm.m-auto(role="status", *ngIf= "loadingAddProduct")
//-                                 | Lưu sản phẩm

//- div.modal.fade(id="addProduct" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
//-     div.modal-dialog.modal-dialog-centered.modal-lg
//-         div.modal-content
//-             div.modal-header.py-1
//-                 h5.modal-title( id="exampleModalLabel") {{actionEdit ? 'Sửa' : 'Thêm'}} Sản phẩm
//-                 span.pointer(class="close", data-dismiss="modal", aria-label="Close" ,#closeModal )
//-                     span(aria-hidden="true") &times;
//-             div.modal-body
//-                 div
//-                     form([formGroup]="formGroup", (submit) = "onSubmit(closeModal)")
//-                         div.col-12.col-lg-8
//-                         div.row
//-                             div.row.col-6
//-                                 div.col-12.my-2
//-                                     label(for="") Tên sản phẩm
//-                                         span.text-danger * 
//-                                     input.form-control( [attr.disabled]=" !actionEdit ? null :'disabled' ", [ngClass]= "(getFormControl?.productName?.errors && submited) || errorAPI === 'FAIL_PRODUCT_NAME' ? 'outline-danger':''" ,type="text",formControlName = "productName")
//-                                     span.text-danger( *ngIf = "getFormControl?.productName?.errors?.required && submited") Không để trống tên sản phẩm
//-                                     span.text-danger( *ngIf = "getFormControl?.productName?.errors?.minlength && submited") Tên sản phẩm tối thiểu 5 kí tự
//-                                     span.text-danger( *ngIf = " errorAPI === 'FAIL_PRODUCT_NAME' && submited") Tên đăng nhập này đã được sử dụng
                            
//-                                 div.col-12.my-2
//-                                     div.row
//-                                         span.col-12
//-                                             label(for="") Thể loại 
//-                                                 span.text-danger * 
//-                                             select.form-control(name="",[attr.disabled]=" !actionEdit ? null :'disabled' ", (change) = "createProductSize()" ,formControlName = "category")
//-                                                 option( *ngFor = "let ctg of categoryDatas.content" ,[ngValue]="ctg")  {{ ctg.categoryName }}
//-                                     span.text-danger( *ngIf = "getFormControl?.categorySonReq?.errors?.required && submited") Chọn thể loại
                            
                            
                                        
//-                             div.col-6
//-                                 label Mô tả
//-                                 div
//-                                     textarea.form-control( formControlName = "moTa" , name="", cols="30", rows="5")
//-                                 //- span.text-danger( *ngIf = "getFormControl?.moTa?.errors?.required && submited") Không để trống tên sản phẩm
//-                                 //- span.text-danger( *ngIf = "getFormControl?.moTa?.errors?.minlength && submited") Tên sản phẩm tối thiểu 5 kí tự
//-                                 //- span.text-danger( *ngIf = " errorAPI === 'FAIL_PRODUCT_NAME' && submited") Tên đăng nhập này đã được sử dụng
//-                             div.col-12.d-flex
//-                                 //- button.ml-auto.btn.btn-primary.my-3(type = "submit") Lưu sản phẩm
//-                                 input(type="submit",value="save",id="savePro",hidden)
//-                     div.col-12 
//-                         label(for="") Phân loại
//-                             span.text-danger * 
//-                         div.text-danger(*ngIf="error") Hãy nhập lại giá và số lượng

//-                         table.table.table-bordered
//-                             thead 
//-                                 tr 
//-                                     th.d-flex
//-                                         span.my-auto Màu
//-                                         span.ml-auto.btn-primary.btn((click)="createProductSize(colorNotChoose())") Thêm màu
//-                                     th(stype="vertical-align:middle") Kích thước 
//-                                     th(stype="vertical-align:middle") Số lượng
//-                                     th(stype="vertical-align:middle") Giá
//-                                     th
//-                             tbody( *ngFor = "let prds of productSize; let i = index" )
//-                                 tr
//-                                     td( style = "width:200px;", [attr.rowspan]="prds?.productSize?.length+2" )
//-                                         div
//-                                             div.d-flex 
//-                                                 span.ml-auto.bi-x.h5.pointer.bi((click)="deleteColor(prds,productSize)",*ngIf="productSize.length > 1 && !prds?.productSize[0]?.idProductSize")
//-                                             div.d-flex.w-100
//-                                                 select.form-control(#sl, *ngIf="!prds?.productSize[0]?.idProductSize" ,name="", (change)="setColor(prds)", [(ngModel)]="prds.color" )
//-                                                     option( *ngFor = "let color of getFormControl['category'].value.colorList ; let h = index" , [attr.hidden] = "isColor(color,productSize) ? 'hidden' : null",[ngValue]="color")  {{ color.colorName}}
//-                                                 span.mx-auto( *ngIf="prds?.productSize[0]?.idProductSize") {{ prds.color.colorName}}
//-                                             div
//-                                                 input.inputfile(#inputFile,type="file",accept="image/*" , multiple , (change) = "setFiles($event,img,i)")
//-                                                 span.col-12.aspect-ratio-1.d-flex.m-0([ngClass]= "!showImage[i]  && submited ? 'outline-danger':''" ,)
//-                                                         span.aspect-ratio-1.col-12.p-0.position-relative( *ngIf = "showImage[i]")
//-                                                             span.w-100.hover-delete-img
//-                                                                 img.border-2.col-12.py-3.aspect-ratio-1( #img,[src]="showImage[i]",style="object-fit: cover;")
//-                                                                 span.position-absolute.w-100.bg-dark.left-0.right-0.opacity-0(  , style = "aspect-ratio : 1;",data-toggle="modal",data-target="#deleteImage",(click) = "alertDeleteImage(i,null)") 
//-                                                                     span.align-items-center.text-center.w-100.aspect-ratio-1.d-flex
//-                                                                         span.m-auto.d-flex.flex-column
//-                                                                             i.bi.bi-x.h2.text-danger
//-                                                                             span.text-white Xóa ảnh 
//-                                                         span.hover-delete-img.aspect-ratio-1.col-12.p-0( *ngIf = "!showImage[i]" )
//-                                                             span.border-2.col-12.py-3.w-100.aspect-ratio-1( [ngClass] = "showImage.length < 1 ? 'h-100' : 'aspect-ratio-1'" ,(click) = "inputFile.click()") 
//-                                                                 span.align-items-center.text-center.w-100.aspect-ratio-1.d-flex
//-                                                                     span.m-auto.d-flex.flex-column
//-                                                                         i.bi.bi-plus.h2.text-info
//-                                                                         span.text-info Thêm ảnh
//-                                                 span.text-danger(  ,*ngIf= "!showImage[i] && submited" ) Thiếu ảnh
//-                                 tr( *ngFor = "let prds2 of prds?.productSize; let j = index " )
//-                                     td
//-                                         select.form-control(name="",*ngIf="!prds2?.idProductSize",  [(ngModel)] ="prds2.size" )
//-                                             option( *ngFor = "let size of getFormControl['category'].value.sizeList ; let k = index" , [attr.hidden] = "isSize(size,prds.color) ? 'hidden' : null",[ngValue]="size")  {{ size.sizeName}}
//-                                         span(*ngIf="prds2?.idProductSize") {{ prds2.size.sizeName }}
//-                                     td 
//-                                         input.px-2.form-control.p-0.m-0((change) = "setQuantity(prds2, inputQuantity,tbQuantity)",[value] = "prds2?.quantity" , #inputQuantity , type="number")
//-                                         span.text-danger(#tbQuantity,hidden) Số lượng lớn từ 0 đến 1 triệu
//-                                     td 
//-                                         div.input-group
//-                                             input.px-2.p-0.m-0.form-control.form-group( (change) = "setPrice(prds2, inputPrice,tbPrice)" ,[value] = "prds2?.price", #inputPrice , [attr.disabled] = " prds2?.idProductSize  ?'disabled':null"  , type="number")
//-                                             span.input-group-append
//-                                                         span.input-group-text VND
//-                                         span.text-danger(#tbPrice,hidden) Giá lớn hơn 0 nhỏ hơn 100 triệu
//-                                     td 
//-                                         span.btn.btn-primary.bi.bi-plus( *ngIf="prds?.productSize.length === j+1 && j+1 !== getFormControl['category'].value.sizeList.length" , (click)="addSizeAndPrice(prds.color,prds.productSize)",data-toggle="tooltip" ,data-placement="bottom" ,title="Thêm mới kích thước")
//-                                         span.btn.btn-danger.bi.bi-dash( *ngIf="(prds?.productSize.length !== j+1 || j+1 === getFormControl['category'].value.sizeList.length) && !prds2?.idProductSize"  , (click)="deleteProductSize(prds2,prds.productSize)",data-toggle="tooltip", data-placement="bottom", title="Xóa bỏ kích thước")

//-                         div.d-flex
//-                             label.btn.btn-primary.ml-auto(for="savePro",value="") Lưu sản phẩm
//-                 div (
//-                     span.text-danger *
//-                     span ) Bắt buộc nhập
          
div.modal.fade(id="deleteProduct" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
  div.modal-dialog.modal-dialog-centered
    div.modal-content
        div.modal-header.py-1
            h5.modal-title( id="exampleModalLabel") Xác nhận ngừng bán
            span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
                span(aria-hidden="true") &times;
        div.modal-body
            div.text-center.mb-3 Bạn thực sự muốn ngừng bán sản phẩm 
                b {{ deleteProDuct.productName }} 
                |?
            div.d-flex 
                button.btn.btn-primary.mx-auto(data-dismiss="modal",) Đóng
                button.btn.btn-danger.mx-auto(data-dismiss="modal",(click) = "delete()") Xác nhận
//- div.modal.fade(id="deleteImage" tabindex="1")
//-   div.modal-dialog.modal-dialog-centered
//-     div.modal-content
//-         div.modal-header.py-1
//-             h5.modal-title( id="exampleModalLabel") Xác nhận xóa ảnh
//-             span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
//-                 span(aria-hidden="true") &times;
//-         div.modal-body
//-             div.text-center.mb-3 Bạn thực sự muốn xóa 
//-                 b ảnh 
//-                 |?
//-             div.d-flex 
//-                 button.btn.btn-primary.mx-auto(data-dismiss="modal",) Đóng
//-                 button.btn.btn-danger.mx-auto(data-dismiss="modal",(click) = "deleteImage()") Xác nhận

frontend/src/modules/dashboard/containers/product/product.component.html
<sb-layout-dashboard
    ><sb-dashboard-head title="Sản phẩm" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <div></div>
    <div class="alert alert-success" *ngIf="alertTB.show"><span>{{ alertTB.msg }}</span></div>
    <!--table ============================--><img [src]="img" alt="" />
    <div class="boder-top-0">
        <div class="card">
            <div class="card-header"><span class="fw-bold text-muted">Bảng sản phẩm</span></div>
            <div class="card-body">
                <div class="my-3 d-flex">
                    <label class="my-auto" for="">Tìm kiếm: </label><span><input class="form-control mx-2" #searchInput type="search" [(ngModel)]="txtSearch" (keyup.enter)="fillterProductByCate()" placeholder="Nhập từ khóa" /></span
                    ><span class="mx-3"
                        ><select class="form-control" (change)="setCategory(category)" [(ngModel)]="category">
                            <option [ngValue]="null">Tất cả</option>
                            <option *ngFor="let ctg of categoryDatas.data" [ngValue]="ctg">{{ ctg.typeName }}</option>
                        </select></span
                    >
                    <div class="ml-auto"><button class="btn btn-primary my-auto" [routerLink]="['add-product']">Thêm sản phẩm</button></div>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item pointer" role="presentation"><span class="nav-link active" data-toggle="tab" role="tab" [ngClass]="tab == 1? 'bg-success text-white' : '' " (click)="search()" aria-selected="true">Sản phẩm đang bán</span></li>
                    <li class="nav-item pointer" role="presentation"><span class="nav-link" data-toggle="tab" role="tab" [ngClass]="tab == 2? 'bg-success text-white' : '' " (click)="getProductQuantity0()" aria-selected="true">Sản phẩm hết số lượng</span></li>
                    <li class="nav-item pointer" role="presentation"><span class="nav-link" data-toggle="tab" role="tab" [ngClass]="tab == 3? 'bg-success text-white' : '' " (click)="getNgungBan()" aria-selected="true">Sản phẩm ngừng bán</span></li>
                </ul>
                <div class="d-flex h-300px" *ngIf="loading"><div class="spinner-border m-auto" role="status"></div></div>
                <div *ngIf="!loading">
                    <div *ngIf="datas?.content.length &lt;= 0">
                        <div class="h-300px d-flex"><span class="m-auto h3 text-muted">Không có gì</span></div>
                    </div>
                    <table class="table table-striped" *ngIf="datas?.content.length &gt; 0">
                        <thead>
                            <tr>
                                <th style="width: 30px">STT</th>
                                <th>Sản phẩm</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of datas.content; let index = index">
                                <th>{{data.stt}}</th>
                                <td>
                                    <div class="d-flex">
                                        <img class="mr-2" [src]="data?.productSizeList[0]?.imagePath" style="width: 100px; height: 100px; object-fit: cover" />
                                        <div class="d-flex flex-column">
                                            <span class="text fw-bold"> <b> {{ data.productName }}</b></span
                                            ><span>
                                                <span class="text-muted"> <b>Thể loại: </b></span><span>{{ data?.type?.typeName }} </span></span
                                            ><span>
                                                <span class="text-muted"> <b>Ánh sáng phù hợp: </b></span><span>{{data?.lightAspect?.lightAspectName}} </span></span
                                            ><span>
                                                <span class="text-muted"> <b>Môi trường sống: </b></span><span *ngFor=" let hbt of data?.habitatsList ; let i = index "> {{ hbt.habitatsName }}{{ i === data?.habitatsList.length - 1 ? '.' : ',' }}</span></span
                                            >
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <span class="d-flex"><button class="mx-1 ml-auto bi bi-pencil-square btn btn-warning" [routerLink]="['edit-product',data.idProduct]" *ngIf="tab != 3">Sửa</button><button class="mx-1 btn btn-primary" style="width: 100px" *ngIf="tab != 3" [routerLink]="['/admin/product/info-product',data.idProduct]">Chi tiết</button><button class="mx-1 btn btn-danger my-auto pointer bi bi-trash3" data-toggle="modal" data-target="#deleteProduct" (click)="alertDeleteProduct(data)" *ngIf="tab != 3">Ngừng bán</button><button class="ml-auto btn btn-primary" *ngIf="tab == 3" [routerLink]="['edit-product','ban-lai',data.idProduct]">Bán lại</button></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer d-flex" *ngIf="datas?.content?.length &gt; 0">
                <div>Dòng {{datas?.content?.length}}/{{datas.size}}</div>
                <div class="mx-auto">Trang {{pageNumber+1}}/{{datas.totalPages}}</div>
                <nav aria-label="">
                    <ul class="pagination row">
                        <li class="page-item">
                            <span class="page-link pointer" href="#" aria-label="Previous" (click)="actionPage(prePage(inputPage,datas.totalPages),searchInput)"><span aria-hidden="true">&laquo;</span></span>
                        </li>
                        <li page-item><input class="text-center h-100 border outline-none" #inputPage (keyup.enter)="actionPage(getPage(inputPage,datas.totalPages),searchInput)" min="1" [value]="(pageNumber+1)" style="width: 40px" type="number" /></li>
                        <li class="page-item">
                            <span class="page-link pointer" href="#" aria-label="Next" (click)="actionPage(nextPage(inputPage,datas.totalPages),searchInput)"><span aria-hidden="true">&raquo; </span></span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div></sb-layout-dashboard
>
<div class="modal fade" id="deleteProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận ngừng bán</h5>
                <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body">
                <div class="text-center mb-3">Bạn thực sự muốn ngừng bán sản phẩm <b>{{ deleteProDuct.productName }} </b>?</div>
                <div class="d-flex"><button class="btn btn-primary mx-auto" data-dismiss="modal">Đóng</button><button class="btn btn-danger mx-auto" data-dismiss="modal" (click)="delete()">Xác nhận</button></div>
            </div>
        </div>
    </div>
</div>
