frontend/src/modules/dashboard/containers/contact/contact.component.html
<sb-layout-dashboard
    ><sb-dashboard-head title="Liên hệ" [hideBreadcrumbs]="false"><div class="ml-auto p-2 bg-light spinner-border" loading *ngIf="loading"></div></sb-dashboard-head>
    <div class="alert alert-success" *ngIf="alertTB.showSuccess"><span>{{ alertTB.msg }}</span></div>
    <div class="alert alert-success" *ngIf="alertTB.showError"><span>{{ alertTB.msg }}</span></div>
    <div>
        <div class="card">
            <div class="card-header">Bảng liên hệ</div>
            <div class="card-body">
                <div class="my-3 d-flex"></div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item pointer" role="presentation" *ngFor="let t of tab; let i = index" (click)="selected(t)"><a class="nav-link" [ngClass]="i === 0 ? 'active' : null" data-toggle="tab" role="tab" aria-selected="true">{{ t.name }}</a></li>
                </ul>
                <div class="h-100" *ngIf="dataContact?.length &lt; 1">
                    <div class="d-flex h-500px"><h3 class="m-auto text-muted">Không có liên hệ</h3></div>
                </div>
                <table class="table table-striped" *ngIf="dataContact?.length &gt; 0">
                    <thead>
                        <tr>
                            <th class="border-top-0">Tên khách hàng</th>
                            <th class="border-top-0">Email</th>
                            <th class="border-top-0">Số điện thoại</th>
                            <th class="border-top-0">Thời gian</th>
                            <th class="border-top-0">Trạng thái</th>
                            <th class="border-top-0"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of dataContact">
                            <td>{{ data.user?.name }}</td>
                            <td>{{ data.user?.email }}</td>
                            <td>{{ data.user?.phone }}</td>
                            <td>{{ data.createdate | date : 'HH:mm giờ, dd-MM-yyyy' }}</td>
                            <td>{{ data.status }}</td>
                            <td>
                                <span class="d-flex" *ngIf="tabSelect.id === 1 "> <span class="btn btn-primary ml-auto mr-2 p-1 pointer text-white h4" data-toggle="modal" data-target="#changeStatus" (click)="setContact(data)">Chi tiết</span></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div></sb-layout-dashboard
>
<div class="modal fade" id="changeStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">Chi tiết liên hệ</h5>
                <span class="pointer close" #close data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body">
                <div class="row my-3">
                    <span class="col-6">
                        Họ tên:
                        <div>{{ contact?.user?.name }}</div></span
                    ><span class="col-6">
                        Email:
                        <div>{{ contact?.user?.email }}</div></span
                    >
                </div>
                <div class="row my-3">
                    <span class="col-6">
                        Số điện thoại:
                        <div>{{ contact?.user?.phone }}</div></span
                    >
                </div>
                <div class="my-3">Lời nhắn: <textarea class="form-control" disabled name="" cols="30" rows="5"> "{{ contact?.messageUser }}"</textarea></div>
                <div class="my-3">Trả lời: <textarea class="form-control" [(ngModel)]="messageShop" name="" cols="30" rows="5"> </textarea><span class="text-danger" *ngIf="!messageShop &amp;&amp; submited">Chưa trả lời lại khách hàng!</span></div>
            </div>
            <div class="modal-footer d-flex"><button class="btn btn-primary mx-auto" (click)="postRequest(tab[tabSelect.id-1].api.post,contact,close)">Gửi</button><button class="btn btn-danger mx-auto" (click)="tuChoi(tab[tabSelect.id-1].api.delete,contact,close)">Từ chối</button></div>
        </div>
    </div>
</div>

frontend/src/modules/dashboard/containers/contact/contact.component.pug
sb-layout-dashboard
    sb-dashboard-head(title='Liên hệ', [hideBreadcrumbs]='false')
        div.ml-auto.p-2.bg-light.spinner-border(loading, *ngIf = "loading")
    div.alert.alert-success( *ngIf = "alertTB.showSuccess")
        span {{ alertTB.msg }}
    div.alert.alert-success( *ngIf = "alertTB.showError")
        span {{ alertTB.msg }}
    div
        div.card
            div.card-header 
                | Bảng liên hệ
            div.card-body
                div.my-3.d-flex
                    //- label.my-auto(for="") Tìm kiếm:  
                    //- span
                    //-     input.form-control.mx-2(#searchInput,type="search",(keyup.enter) = "search(searchInput)",placeholder = "Nhập từ khóa")
                ul.nav.nav-tabs(id="myTab" ,role="tablist")
                    li.nav-item.pointer(role="presentation", *ngFor="let t of tab; let i = index" , (click)="selected(t)" )
                        a.nav-link([ngClass]="i === 0 ? 'active' : null" ,data-toggle="tab" , role="tab" ,aria-selected="true") {{ t.name }}
                    
                div.h-100( *ngIf="dataContact?.length < 1" )
                    .d-flex.h-500px
                        h3.m-auto.text-muted Không có liên hệ
                table.table.table-striped( *ngIf="dataContact?.length > 0")
                    thead
                        tr 
                            th.border-top-0 Tên khách hàng
                            th.border-top-0 Email
                            th.border-top-0 Số điện thoại
                            th.border-top-0 Thời gian 
                            th.border-top-0 Trạng thái
                            th.border-top-0 
                    tbody 
                        tr( *ngFor="let data of dataContact", )
                            td {{ data.user?.name }}
                            td {{ data.user?.email }}
                            td {{ data.user?.phone }}
                            td {{ data.createdate | date : 'HH:mm giờ, dd-MM-yyyy' }}
                            td {{ data.status  }}
                            //- td {{ data.status }}
                            td  
                                span.d-flex(*ngIf = "tabSelect.id === 1 ") 
                                    span.btn.btn-primary.ml-auto.mr-2.p-1.pointer.text-white.h4(,data-toggle="modal",data-target="#changeStatus",(click)="setContact(data)") Chi tiết
                                    //- span.btn.btn-danger.p-1.pointer.ger.text-white.h4((click) = "postRequest(tab[tabSelect.id-1].api.delete,data)" , data-toggle="modal",data-target="#deleteUser" ) Từ chối
                                //- span.d-flex(*ngIf = "tabSelect.id === 2 ")
                                //-     span.btn.btn-primary( (click)="order = data",data-toggle="modal",data-target="#changeStatus" ) Giao hàng

                                //- span.d-flex(*ngIf = "tabSelect.id === 3 ")
                                //-     span.btn.btn-primary.mr-2( (click)="order = data",data-toggle="modal",data-target="#changeStatus" ) Đã giao
                                //-     span.btn.btn-danger((click) = "postRequest(tab[tabSelect.id-1].api.delete,data)" , data-toggle="modal",data-target="#huyDon" ) Giao thất bại



            //- div.card-footer.d-flex( *ngIf = "datasUser?.content?.length > 0")
                div Dòng {{datasUser?.content?.length}}/{{datasUser.size}}
                div.mx-auto Trang {{pageNumber+1}}/{{datasUser.totalPages}}
                nav(aria-label="")
                    ul.pagination.row
                        li.page-item
                            span.page-link.pointer(href="#", aria-label="Previous",(click) = "actionPage(prePage(inputPage,datasUser.totalPages),inputPage)")
                                span(aria-hidden="true") &laquo;
                        li(page-item)
                            input.text-center.h-100.border.outline-none(#inputPage,(keyup.enter) = "actionPage(getPage(inputPage,datasUser.totalPages),inputPage)", min="1",[value] = "(pageNumber+1)" , style = "width : 40px",type="number")
                        li( class="page-item")
//-                             span.page-link.pointer( href="#" aria-label="Next", (click) = "actionPage(nextPage(inputPage,datasUser.totalPages),inputPage)" )
      

div.modal.fade(id="changeStatus" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
  div.modal-dialog.modal-dialog-centered
    div.modal-content
        div.modal-header.py-1
            h5.modal-title( id="exampleModalLabel") Chi tiết liên hệ
            span.pointer(class="close",#close ,data-dismiss="modal", aria-label="Close"  )
                span(aria-hidden="true") &times;
        div.modal-body
            div.row.my-3 
                span.col-6 
                    | Họ tên: 
                    div {{ contact?.user?.name }}   
                span.col-6 
                    | Email: 
                    div {{ contact?.user?.email }}  
            div.row.my-3 
                span.col-6 
                    | Số điện thoại: 
                    div {{ contact?.user?.phone }}  
            div.my-3 Lời nhắn: 
                textarea.form-control( disabled , name="", cols="30", rows="5")  "{{ contact?.messageUser }}"
            div.my-3 Trả lời: 
                textarea.form-control( [(ngModel)]="messageShop" ,name="", cols="30", rows="5") 
                span.text-danger( *ngIf="!messageShop && submited") Chưa trả lời lại khách hàng!
        div.modal-footer.d-flex 
            button.btn.btn-primary.mx-auto((click) = "postRequest(tab[tabSelect.id-1].api.post,contact,close)") Gửi
            button.btn.btn-danger.mx-auto((click) = "tuChoi(tab[tabSelect.id-1].api.delete,contact,close)") Từ chối

//- div.modal.fade(id="huyDon" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
//-   div.modal-dialog.modal-dialog-centered
//-     div.modal-content
//-         div.modal-header.py-1
//-             h5.modal-title( id="exampleModalLabel") Hủy đơn
//-             span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
//-                 span(aria-hidden="true") &times;
//-         div.modal-body
//-             div.text-center Xác nhận hủy đơn hàng
//-         div.modal-footer.d-flex 
//-             button.btn.btn-primary.ml-auto(data-dismiss="modal") Đóng
//-             button.btn.btn-danger.mx-auto(data-dismiss="modal",(click) = "postRequest(tab[tabSelect.id-1].api.post,order)") Xác nhận
