frontend/src/modules/dashboard/containers/info-order/info-order.component.html
<sb-layout-dashboard
    ><sb-dashboard-head title="Chi tiết đơn hàng" [hideBreadcrumbs]="false"
        ><div class="d-flex"></div>
        <div class="ml-auto p-2 bg-light spinner-border" loading *ngIf="loading"></div
    ></sb-dashboard-head>
    <div>
        <div class="row">
            <div class="col-12 row mb-4">
                <div class="col-5 border-right">
                    <div class="mb-3"><b>Tên khách hàng: </b>{{ order?.user?.name }}</div>
                    <div class="mb-3"><b>SDT: </b>{{ order?.user?.phone }}</div>
                    <div class="mb-3"><b>Địa chỉ: </b>{{ order?.diaChi }}</div>
                </div>
                <div class="col-7">
                    <div class="mb-3"><b>Trạng thái đơn: </b>{{ order?.status }}</div>
                    <div class="mb-3"><b>Thanh toán: </b>{{ order?.statusMoney }}</div>
                    <div class="mb-3">
                        <b> <div>Thông tin</div></b>
                        <div>{{ order?.moTa ? order?.moTa : "Không có" }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Màu</th>
                            <th>Kích thước</th>
                            <th>Số lượng</th>
                            <th>Giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor=" let odt of orderDetail">
                            <td class="text-center"><img width="100px" [src]="'data:image/jpeg;base64,'+odt?.productSize?.images?.data" alt="" /></td>
                            <td class="text-center">{{odt?.productName}}</td>
                            <td class="text-center">{{ odt?.colorName }}</td>
                            <td class="text-center">{{ odt?.sizeName }}</td>
                            <td class="text-center">{{ odt?.quantity | number }}</td>
                            <td class="text-center">{{ odt?.price * odt?.quantity | number }}VND</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div></sb-layout-dashboard
>

frontend/src/modules/dashboard/containers/info-order/info-order.component.pug
sb-layout-dashboard
    sb-dashboard-head(title='Chi tiết đơn hàng', [hideBreadcrumbs]='false')
        div.d-flex
            //- button.btn.btn-primary.my-auto((click) = "resetForm()" ,data-toggle="modal",data-target="#addUser") 
        div.ml-auto.p-2.bg-light.spinner-border(loading, *ngIf = "loading")
    div 
        div.row
            div.col-12.row.mb-4
                div.col-5.border-right
                    div.mb-3
                        b Tên khách hàng: 
                        | {{ order?.user?.name }}
                    div.mb-3 
                        b SDT: 
                        | {{ order?.user?.phone }}
                    div.mb-3 
                        b Địa chỉ: 
                        | {{ order?.diaChi }}
                   
                div.col-7 
                    div.mb-3 
                        b Trạng thái đơn: 
                        | {{ order?.status }}
                    div.mb-3 
                        b Thanh toán: 
                        | {{ order?.statusMoney }}
                    div.mb-3 
                        b   
                            div Thông tin 
                        div {{ order?.moTa ? order?.moTa : "Không có" }}
                    
            div.col-12
                table.table.table-bordered
                    thead 
                        tr
                            th Ảnh 
                            th Tên sản phẩm 
                            th Màu 
                            th Kích thước 
                            th Số lượng 
                            th Giá 
                    tbody
                        tr( *ngFor =" let odt of orderDetail") 
                            td.text-center 
                                img( width="100px" ,[src]="'data:image/jpeg;base64,'+odt?.productSize?.images?.data", alt="")
                            td.text-center {{odt?.productName}}
                            td.text-center {{ odt?.colorName }}
                            td.text-center {{ odt?.sizeName }}
                            td.text-center {{ odt?.quantity | number }}
                            td.text-center {{ odt?.price * odt?.quantity | number }}VND

            

            
