frontend/src/modules/auth/containers/forgot-password/forgot-password.component.html
<sb-layout-auth
    ><div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Khôi phục mật khẩu</h3></div>
                    <div class="card-body">
                        <div class="small mb-3 text-muted">Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn một mã xác nhận để đặt lại mật khẩu của bạn.</div>
                        <form [formGroup]="formGroup" (submit)="onSubmit()" *ngIf="!resetPass">
                            <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Email</label><input class="form-control py-4" id="inputEmailAddress" type="email" formControlName="email" aria-describedby="emailHelp" placeholder="Nhập vào Email" /><span class="text-danger" *ngIf="formGroup?.controls['email']?.errors?.required &amp;&amp; submit">Chưa nhập email</span></div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" routerLink="/auth/login">Về đăng nhập</a><button class="btn btn-primary" type="submit">Gửi mail</button></div>
                        </form>
                        <form [formGroup]="formGroupResetPass" (submit)="resetpass()" *ngIf="resetPass">
                            <div class="form-group"><label class="small mb-1" for="inputEmailAddress1">Mã xác nhận</label><input class="form-control py-4" id="inputEmailAddress1" type="text" formControlName="verification" aria-describedby="emailHelp" placeholder="Nhập vào mã xác nhận" /><span class="text-danger" *ngIf="formControl?.verification?.errors?.required &amp;&amp; submited">Không để mã xác nhận</span></div>
                            <div class="form-group"><label class="small mb-1" for="inputEmailAddress2">Mật khẩu mới</label><input class="form-control py-4" id="inputEmailAddress2" type="password" formControlName="passNew" aria-describedby="emailHelp" placeholder="Nhập vào mật khẩu mới" /><span class="text-danger" *ngIf="formControl?.passNew?.errors?.required &amp;&amp; submited">Không để trống mật khẩu</span><span class="text-danger" *ngIf="formControl?.passNew?.errors?.minLength &amp;&amp; submited">Tối thiểu 5 kí tự</span></div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" routerLink="/auth/login">Về đăng nhập</a><button class="btn btn-primary" type="submit">Đổi mật khẩu</button></div>
                        </form>
                        <form></form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a routerLink="/auth/register">Chưa có tài khoản? Đăng kí!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div></sb-layout-auth
>

frontend/src/modules/auth/containers/forgot-password/forgot-password.component.pug
sb-layout-auth
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Khôi phục mật khẩu
                    .card-body
                        .small.mb-3.text-muted Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn một mã xác nhận để đặt lại mật khẩu của bạn.
                        form([formGroup] = "formGroup", (submit)="onSubmit()", *ngIf="!resetPass")
                            .form-group
                                label.small.mb-1(for='inputEmailAddress') Email
                                input#inputEmailAddress.form-control.py-4(type='email',formControlName="email" , aria-describedby='emailHelp', placeholder='Nhập vào Email')
                                span.text-danger( *ngIf="formGroup?.controls['email']?.errors?.required && submit") Chưa nhập email
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.small(routerLink='/auth/login') Về đăng nhập
                                button.btn.btn-primary(type="submit") Gửi mail

                        form([formGroup] = "formGroupResetPass", (submit)="resetpass()",*ngIf="resetPass")
                            .form-group
                                label.small.mb-1(for='inputEmailAddress1') Mã xác nhận
                                input#inputEmailAddress1.form-control.py-4(type='text',formControlName="verification" , aria-describedby='emailHelp', placeholder='Nhập vào mã xác nhận')
                                span.text-danger( *ngIf="formControl?.verification?.errors?.required && submited" ) Không để mã xác nhận
                            .form-group
                                label.small.mb-1(for='inputEmailAddress2') Mật khẩu mới
                                input#inputEmailAddress2.form-control.py-4(type='password',formControlName="passNew" , aria-describedby='emailHelp', placeholder='Nhập vào mật khẩu mới')
                                span.text-danger( *ngIf="formControl?.passNew?.errors?.required && submited" ) Không để trống mật khẩu
                                span.text-danger( *ngIf="formControl?.passNew?.errors?.minLength && submited" ) Tối thiểu 5 kí tự
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.small(routerLink='/auth/login') Về đăng nhập
                                button.btn.btn-primary(type="submit") Đổi mật khẩu 
                        form(  )
                    .card-footer.text-center
                        .small
                            a(routerLink='/auth/register') Chưa có tài khoản? Đăng kí!
