frontend/src/modules/dashboard/components/dashboard-cards/dashboard-cards.component.pug
.row
    .col-xl-3.col-md-6
        .card-body.bg-primary.text-white
            div.d-flex
                span Đơn đang giao
                span.ml-auto {{ thongKe?.donDangGiao }}

    .col-xl-3.col-md-6
        .card-body.mx-2.bg-warning.text-white
            div.d-flex
                span Đơn đã giao
                span.ml-auto {{ thongKe?.donDaGiao }}
             

    .col-xl-3.col-md-6
        .card-body.mr-2.text-white.bg-success
            div.d-flex
                span  Đơn đã nhận
                span.ml-auto {{ thongKe?.donDaNhan }}
                

    .col-xl-3.col-md-6
        .card-body.text-white.bg-danger
            div.d-flex
                span  Đơn đã hủy
                span.ml-auto {{ thongKe?.donDaHuy }}
                 

frontend/src/modules/dashboard/components/dashboard-cards/dashboard-cards.component.html
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card-body bg-primary text-white">
            <div class="d-flex"><span>Đơn đang giao</span><span class="ml-auto">{{ thongKe?.donDangGiao }}</span></div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card-body mx-2 bg-warning text-white">
            <div class="d-flex"><span>Đơn đã giao</span><span class="ml-auto">{{ thongKe?.donDaGiao }}</span></div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card-body mr-2 text-white bg-success">
            <div class="d-flex"><span> Đơn đã nhận</span><span class="ml-auto">{{ thongKe?.donDaNhan }}</span></div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card-body text-white bg-danger">
            <div class="d-flex"><span> Đơn đã hủy</span><span class="ml-auto">{{ thongKe?.donDaHuy }}</span></div>
        </div>
    </div>
</div>
