frontend/src/modules/layout/page-pay/page-pay.component.html
<layout
    ><div class="container-xl mt-5">
        <div class="row bg-light p-3 border-radius">
            <div class="col-12 col-lg-7">
                <span class="h3 pointer" routerLink="/cart"><span class="bi bi-chevron-left"></span>Giỏ hàng</span>
                <div class="d-flex w-100 border-top mt-3"></div>
                <h4>Thông tin đặt hàng</h4>
                <span>(<span class="text-danger">*</span><span>) Bắt buộc nhập</span></span>
                <form [formGroup]="formGroup">
                    <div class="row my-3">
                        <div class="col-12">
                            <label for="inputname">Họ và tên<span class="text-danger">*</span></label
                            ><input class="form-control" id="inputname" disabled formControlName="name" type="text" />
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-12 col-lg-4">
                            <label for="inputname1">Tỉnh/Thành phố<span class="text-danger">* </span></label
                            ><select class="form-control" id="inputname1" formControlName="thanh_pho" (change)="getHuyen()" type="text">
                                <option *ngFor="let city of thanh_pho" [ngValue]="city">{{ city.ProvinceName }}</option></select
                            ><span class="text-danger" *ngIf="getFormError('thanh_pho')?.required &amp;&amp; submited ">Chưa chọn thành phố</span>
                        </div>
                        <div class="col-12 col-lg-4">
                            <label for="inputname2">Quận/Huyện<span class="text-danger">*</span></label
                            ><select class="form-control" id="inputname2" formControlName="huyen" (change)="getXa()" type="text">
                                <option *ngFor="let h of huyen " [ngValue]="h">{{ h.DistrictName }}</option></select
                            ><span class="text-danger" *ngIf="getFormError('huyen')?.required &amp;&amp; submited ">Chưa chọn huyện</span>
                        </div>
                        <div class="col-12 col-lg-4">
                            <label for="inputname3">Xã/Thị trấn/Phường<span class="text-danger">*</span></label
                            ><select class="form-control" id="inputname3" formControlName="xa" type="text">
                                <option *ngFor="let x of xa " [ngValue]="x">{{x.prefix}} {{ x.WardName }}</option></select
                            ><span class="text-danger" *ngIf="getFormError('xa')?.required &amp;&amp; submited ">Chưa chọn xã</span>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-12">
                            <label for="inputname4">Số điện thoại<span class="text-danger">*</span></label
                            ><input class="form-control" id="inputname4" type="text" formControlName="phone" /><span class="text-danger" *ngIf="getFormError('phone')?.required &amp;&amp; submited  ">Không để trống số điện thoại</span><span class="text-danger" *ngIf="getFormError('phone')?.pattern &amp;&amp; submited ">Chưa đúng định dạng số điện thoại</span>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-12"><label for="inputname5">Ghi chú đơn hàng</label><textarea class="form-control" id="inputname5" name="" formControlName="moTa" cols="30" rows="5"> </textarea></div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-5 bg-success border-radius p-4 mt-3">
                <div class="h3 text-white mt-2 text-uppercase">Đơn Hàng</div>
                <div class="mt-5 mb-2">
                    <div class="d-flex my-3">
                        <span class="text-white mr-auto h5"><b>Sản phẩm</b></span
                        ><span class="text-white ml-auto"><b>Giá bán</b></span>
                    </div>
                    <div class="d-flex my-1" *ngFor="let orderDetail of order.orderDetailsList">
                        <span class="text-white mr-auto"><span>{{ orderDetail?.productSize?.product?.productName }} - {{ orderDetail.productSize.size.sizeName }}, màu {{ orderDetail.productSize.color.colorName }}(x{{ orderDetail?.quantity }})</span></span
                        ><span class="text-white mx-auto"><span> </span></span><span class="text-white ml"><b>{{ orderDetail?.productSize?.price | number }}VND</b></span>
                    </div>
                    <div class="d-flex my-3 border-top pt-2">
                        <span class="text-white mr-auto h5"><b>Tạm tính</b></span
                        ><span class="text-white"><b> {{getTotal | number }} VND </b></span>
                    </div>
                    <div class="d-flex my-3 h4"><span class="text-white mr-auto">Tổng</span><span class="text-white">{{(getTotal ) | number }} VND </span></div>
                    <div class="my-3 border-top pt-2">
                        <span class="text-white mr-auto h5"><b>Phương thức thanh toán</b></span>
                        <div class="my-3">
                            <input class="mr-2" id="pt1" type="radio" [(ngModel)]="methodPay" value="NH" name="pt" /><label class="text-white" for="pt1"> <b>Thanh toán khi nhận hàng</b></label
                            ><label class="text-white" for="pt1">Trả tiền mặt khi nhận hàng.</label>
                        </div>
                        <div class="my-3">
                            <input class="mr-2" id="pt2" type="radio" [(ngModel)]="methodPay" value="VDT" name="pt" /><label class="text-white" for="pt2"> <b>Chuyển khoản qua ngân hàng</b></label
                            ><label class="text-white" for="pt2">
                                <div>Thực hiện chuyển khoản ngay vào tài khoản chúng tôi. Vui lòng sử dụng MÃ đơn hàng của ban trong phần</div>
                                <b>nội dung thanh toán. </b><span>Đơn hàng sẽ được giao sau khi tiền đã chuyển.</span></label
                            >
                        </div>
                    </div>
                </div>
                <span class="text-danger" *ngIf="errAmount">Đơn hàng tối thiều 10.000VND</span><button class="w-100 btn bg-white py-3 text-uppercase" (click)="datHang()">Thanh Toán</button>
            </div>
        </div>
    </div></layout
>

frontend/src/modules/layout/page-pay/page-pay.component.pug
layout
    div.container-xl.mt-5
        div.row.bg-light.p-3.border-radius
            div.col-12.col-lg-7
                span.h3.pointer(routerLink='/cart' )
                    span.bi.bi-chevron-left
                    | Giỏ hàng
                div.d-flex.w-100.border-top.mt-3
                    //- div.mr-auto 
                    //-     div.my-1.text-muted Thông tin khách hàng
                    //-     div.my-1.text-muted thanh toán cho các sản phẩm.
                h4 Thông tin đặt hàng
                span (
                    span.text-danger *
                    span ) Bắt buộc nhập
                form([formGroup] = "formGroup")
                    .row.my-3
                        div.col-12
                            label(for="inputname") Họ và tên
                                span.text-danger *
                            input.form-control#inputname( disabled,formControlName= "name" , type="text")
                    .row.my-3
                        div.col-12.col-lg-4
                            label(for="inputname1") Tỉnh/Thành phố
                                span.text-danger * 
                            select.form-control#inputname1( formControlName = "thanh_pho" , (change)="getHuyen()" ,type="text" )
                                option(  *ngFor = "let city of thanh_pho" , [ngValue]="city") {{ city.ProvinceName }}
                            span.text-danger( *ngIf="getFormError('thanh_pho')?.required && submited " ) Chưa chọn thành phố
                        div.col-12.col-lg-4
                            label(for="inputname2") Quận/Huyện
                                span.text-danger *
                            select.form-control#inputname2( formControlName = "huyen", (change)="getXa()" ,type="text")
                                option(  *ngFor = "let h of huyen " , [ngValue]="h") {{ h.DistrictName }}
                            span.text-danger( *ngIf="getFormError('huyen')?.required && submited " ) Chưa chọn huyện
                        div.col-12.col-lg-4
                            label(for="inputname3") Xã/Thị trấn/Phường
                                span.text-danger *
                            select.form-control#inputname3( formControlName = "xa" ,type="text")
                                option(  *ngFor = "let x of xa " , [ngValue]="x") {{x.prefix}} {{ x.WardName }}
                            span.text-danger( *ngIf="getFormError('xa')?.required && submited " ) Chưa chọn xã
                    .row.my-3
                        div.col-12
                            label(for="inputname4") Số điện thoại
                                span.text-danger *
                            input.form-control#inputname4(type="text",formControlName = "phone")
                            span.text-danger( *ngIf="getFormError('phone')?.required && submited  " ) Không để trống số điện thoại
                            span.text-danger( *ngIf="getFormError('phone')?.pattern && submited " ) Chưa đúng định dạng số điện thoại
                    .row.my-3
                        div.col-12
                            label(for="inputname5") Ghi chú đơn hàng
                            textarea.form-control#inputname5(name="",formControlName="moTa", cols="30", rows="5") 
            div.col-12.col-lg-5.bg-success.border-radius.p-4.mt-3
                div.h3.text-white.mt-2.text-uppercase Đơn Hàng
                div.mt-5.mb-2 
                    div.d-flex.my-3
                        span.text-white.mr-auto.h5
                            b Sản phẩm
                        
                        span.text-white.ml-auto
                            b Giá bán
                    div.d-flex.my-1( *ngFor = "let orderDetail of order.orderDetailsList" )
                        span.text-white.mr-auto
                            span {{ orderDetail?.productSize?.product?.productName }} - {{ orderDetail.productSize.size.sizeName }}, màu {{ orderDetail.productSize.color.colorName }}(x{{ orderDetail?.quantity }})
                        span.text-white.mx-auto
                            span 
                        span.text-white.ml
                            b {{ orderDetail?.productSize?.price | number }}VND
                    div.d-flex.my-3.border-top.pt-2
                        span.text-white.mr-auto.h5
                            b Tạm tính
                        span.text-white
                            b  {{getTotal | number }} VND 
                    //- div.d-flex.my-3
                    //-     span.text-white.mr-auto Phí vận chuyển
                            
                    //-     span.text-white(*ngIf=" getFormControl('xa') && getFormControl('huyen') ") {{ shipToltal | number }}VND
                    //-     span.span.text-danger(*ngIf=" !getFormControl('xa') ||  !getFormControl('huyen')") Chưa có địa chỉ cụ thể

                        //- span.text-white 0 VND 
                    //- div.d-flex.my-3
                    //-     span.text-white.mr-auto Khuyến mãi
                    //-     span.text-white 30.000(5%) VND 
                    div.d-flex.my-3.h4
                        span.text-white.mr-auto Tổng
                        span.text-white {{(getTotal ) | number }} VND 
                    div.my-3.border-top.pt-2
                        span.text-white.mr-auto.h5
                            b Phương thức thanh toán
                        div.my-3 
                            input.mr-2#pt1(type="radio", [(ngModel)]="methodPay" ,value="NH", name="pt")
                            label.text-white(for="pt1") 
                                b Thanh toán khi nhận hàng
                            label.text-white(for="pt1") Trả tiền mặt khi nhận hàng.
                                
                        div.my-3 
                            input.mr-2#pt2(type="radio", [(ngModel)]="methodPay",value="VDT" , name="pt")
                            label.text-white(for="pt2") 
                                b Chuyển khoản qua ngân hàng
                            label.text-white(for="pt2") 
                                div Thực hiện chuyển khoản ngay vào tài khoản chúng tôi. Vui lòng sử dụng MÃ đơn hàng của ban trong phần 
                                b nội dung thanh toán. 
                                span Đơn hàng sẽ được giao sau khi tiền đã chuyển.
                span.text-danger( *ngIf="errAmount" ) Đơn hàng tối thiều 10.000VND
                button.w-100.btn.bg-white.py-3.text-uppercase((click) = "datHang()") Thanh Toán
                //- div.text-white.my-2.mt-5 Loại thẻ
                //- div 
                //-     img.object-fit.border-radius(width= "50px",src="https://inkythuatso.com/uploads/images/2021/12/vnpay-logo-inkythuatso-01-13-16-26-42.jpg", alt="")

            

        
