frontend/src/modules/error/containers/error-500/error-500.component.html
<sb-layout-error
    ><div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mt-4">
                    <h1 class="display-1">500</h1>
                    <p class="lead">Internal Server Error</p>
                    <a routerLink="/admin"><fa-icon class="mr-1" [icon]='["fas", "arrow-left"]'></fa-icon>Return to Dashboard</a>
                </div>
            </div>
        </div>
    </div></sb-layout-error
>

frontend/src/modules/error/containers/error-500/error-500.component.pug
sb-layout-error
    .container
        .row.justify-content-center
            .col-lg-6
                .text-center.mt-4
                    h1.display-1 500
                    p.lead Internal Server Error
                    a(routerLink='/admin')
                        fa-icon.mr-1([icon]='["fas", "arrow-left"]')
                        | Return to Dashboard
