frontend/src/modules/auth/containers/register/register.component.pug
sb-layout-auth
    .container
        .row.justify-content-center
            .col-lg-7.col-md-9.col-12.col-sm-10
                .card.shadow-lg.border-0.rounded-lg.my-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Đăng kí
                    .card-body
                        form([formGroup] = "formGroup",(ngSubmit)="register(inputConfirmPassword)")
                            .form-row
                                .col-md-6
                                    .form-group
                                        label.small.mb-1(for='inputFirstName',) Họ và tên
                                        input.py-4.form-control.py-4( formControlName="name" ,type='text',[ngClass] = "(errorsForm?.name?.errors && submited) ? 'outline-danger' : ''", placeholder='Họ và tên')
                                        span.text-danger( *ngIf = "errorsForm?.name?.errors?.required && submited") Không để trống họ và tên
                                        span.text-danger( *ngIf = "errorsForm?.name?.errors?.pattern && submited") Họ và tên không chứa kí tự và số
                                .col-md-6
                                    .form-group
                                        label.small.mb-1(for='inputLastName') Tài khoản 
                                        input.py-4.form-control(placeholder="Tài khoản",type="text",formControlName = "username",[ngClass] = "(errorsForm?.username?.errors && submited) || errorAPI === 'FAIL_USER_NAME' ? 'outline-danger' : ''")
                                        span.text-danger( *ngIf = "errorsForm?.username?.errors?.required && submited") Không để trống tài khoản
                                        span.text-danger( *ngIf = "errorsForm?.username?.errors?.pattern && submited") Tài khoản không chứa kí tự đặc biệt
                                        span.text-danger( *ngIf = "errorsForm?.username?.errors?.minlength && submited") Tài khoản chứa tối thiểu 5 kí tự
                                        span.text-danger( *ngIf = "errorsForm?.username?.errors?.maxlength && submited") Tài khoản chứa tối đa 15 kí tự
                                        span.text-danger( *ngIf = " errorAPI === 'FAIL_USER_NAME'  && submited") Tên đăng nhập này đã được sử dụng
                            .form-group
                                label.small.mb-1(for='inputEmailAddress') Email
                                input.py-4.form-control(type="email",required ,pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" ,placeholder="Email",formControlName = "email",[ngClass] = "(errorsForm?.email?.errors && submited) || errorAPI === 'FAIL_USER_EMAIL' ? 'outline-danger' : ''")
                                span.text-danger( *ngIf = "errorsForm?.email?.errors?.required && submited") Không để trống email
                                span.text-danger( *ngIf = "errorsForm?.email?.errors?.pattern && submited") Email chưa đúng dạng
                                span.text-danger( *ngIf = " errorAPI === 'FAIL_USER_EMAIL'  && submited") Email này đã được sử dụng
                            .form-group
                                label.small.mb-1(for='inputEmailAddress') Số điện thoại
                                input.py-4.form-control(type="text" ,placeholder="Số điện thoại",formControlName = "phone",[ngClass] = "(errorsForm?.phone?.errors && submited) || errorAPI === 'FAIL_USER_PHONE' ? 'outline-danger' : ''")
                                span.text-danger( *ngIf = "errorsForm?.phone?.errors?.required && submited") Không để trống số điện thoại
                                span.text-danger( *ngIf = "errorsForm?.phone?.errors?.pattern && submited") Số điện thoại chưa đúng dạng
                                span.text-danger( *ngIf = " errorAPI === 'FAIL_USER_PHONE' &&  !errorsForm?.phone?.errors?.pattern  && submited") Số điện thoại này đã được sử dụng
                            .form-row
                                .col-md-6
                                    .form-group
                                        label.small.mb-1(for='inputPassword') Mật khẩu
                                        input.py-4.form-control(type="password",placeholder="Mật khẩu mới" ,formControlName = "password",[ngClass] = "(errorsForm?.password?.errors && submited) ? 'outline-danger' : ''")
                                        span.text-danger( *ngIf = "errorsForm?.password?.errors?.required && submited") Không để trống mật khẩu
                                        span.text-danger( *ngIf = "errorsForm?.password?.errors?.minlength && submited") Mật khẩu chứa tối thiểu 5 kí tự
                                        span.text-danger( *ngIf = "errorsForm?.password?.errors?.maxlength && submited") Mật khẩu chứa tối đa 15 kí tự
                                .col-md-6
                                    .form-group
                                        label.small.mb-1(for='inputConfirmPassword') Xác nhận mật khẩu
                                        input#inputConfirmPassword.form-control.py-4(value="" ,#inputConfirmPassword, type='password', placeholder='Xác nhận mật khẩu')
                                        span.text-danger(*ngIf="errConfirm") Mật khẩu xác nhận không khớp
                            .form-group.mt-4.mb-0
                                button.btn.btn-primary.btn-block(type="submit") Tạo tài khoản
                    .card-footer.text-center
                        .small
                            a(routerLink='/auth/login') Đã có tài khoản? Đi tới đăng nhập!

frontend/src/modules/auth/containers/register/register.component.html
<sb-layout-auth
    ><div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-9 col-12 col-sm-10">
                <div class="card shadow-lg border-0 rounded-lg my-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Đăng kí</h3></div>
                    <div class="card-body">
                        <form [formGroup]="formGroup" (ngSubmit)="register(inputConfirmPassword)">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group"><label class="small mb-1" for="inputFirstName">Họ và tên</label><input class="py-4 form-control py-4" formControlName="name" type="text" [ngClass]="(errorsForm?.name?.errors &amp;&amp; submited) ? 'outline-danger' : ''" placeholder="Họ và tên" /><span class="text-danger" *ngIf="errorsForm?.name?.errors?.required &amp;&amp; submited">Không để trống họ và tên</span><span class="text-danger" *ngIf="errorsForm?.name?.errors?.pattern &amp;&amp; submited">Họ và tên không chứa kí tự và số</span></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"><label class="small mb-1" for="inputLastName">Tài khoản </label><input class="py-4 form-control" placeholder="Tài khoản" type="text" formControlName="username" [ngClass]="(errorsForm?.username?.errors &amp;&amp; submited) || errorAPI === 'FAIL_USER_NAME' ? 'outline-danger' : ''" /><span class="text-danger" *ngIf="errorsForm?.username?.errors?.required &amp;&amp; submited">Không để trống tài khoản</span><span class="text-danger" *ngIf="errorsForm?.username?.errors?.pattern &amp;&amp; submited">Tài khoản không chứa kí tự đặc biệt</span><span class="text-danger" *ngIf="errorsForm?.username?.errors?.minlength &amp;&amp; submited">Tài khoản chứa tối thiểu 5 kí tự</span><span class="text-danger" *ngIf="errorsForm?.username?.errors?.maxlength &amp;&amp; submited">Tài khoản chứa tối đa 15 kí tự</span><span class="text-danger" *ngIf=" errorAPI === 'FAIL_USER_NAME'  &amp;&amp; submited">Tên đăng nhập này đã được sử dụng</span></div>
                                </div>
                            </div>
                            <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Email</label><input class="py-4 form-control" type="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email" formControlName="email" [ngClass]="(errorsForm?.email?.errors &amp;&amp; submited) || errorAPI === 'FAIL_USER_EMAIL' ? 'outline-danger' : ''" /><span class="text-danger" *ngIf="errorsForm?.email?.errors?.required &amp;&amp; submited">Không để trống email</span><span class="text-danger" *ngIf="errorsForm?.email?.errors?.pattern &amp;&amp; submited">Email chưa đúng dạng</span><span class="text-danger" *ngIf=" errorAPI === 'FAIL_USER_EMAIL'  &amp;&amp; submited">Email này đã được sử dụng</span></div>
                            <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Số điện thoại</label><input class="py-4 form-control" type="text" placeholder="Số điện thoại" formControlName="phone" [ngClass]="(errorsForm?.phone?.errors &amp;&amp; submited) || errorAPI === 'FAIL_USER_PHONE' ? 'outline-danger' : ''" /><span class="text-danger" *ngIf="errorsForm?.phone?.errors?.required &amp;&amp; submited">Không để trống số điện thoại</span><span class="text-danger" *ngIf="errorsForm?.phone?.errors?.pattern &amp;&amp; submited">Số điện thoại chưa đúng dạng</span><span class="text-danger" *ngIf=" errorAPI === 'FAIL_USER_PHONE' &amp;&amp;  !errorsForm?.phone?.errors?.pattern  &amp;&amp; submited">Số điện thoại này đã được sử dụng</span></div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group"><label class="small mb-1" for="inputPassword">Mật khẩu</label><input class="py-4 form-control" type="password" placeholder="Mật khẩu mới" formControlName="password" [ngClass]="(errorsForm?.password?.errors &amp;&amp; submited) ? 'outline-danger' : ''" /><span class="text-danger" *ngIf="errorsForm?.password?.errors?.required &amp;&amp; submited">Không để trống mật khẩu</span><span class="text-danger" *ngIf="errorsForm?.password?.errors?.minlength &amp;&amp; submited">Mật khẩu chứa tối thiểu 5 kí tự</span><span class="text-danger" *ngIf="errorsForm?.password?.errors?.maxlength &amp;&amp; submited">Mật khẩu chứa tối đa 15 kí tự</span></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"><label class="small mb-1" for="inputConfirmPassword">Xác nhận mật khẩu</label><input class="form-control py-4" id="inputConfirmPassword" value="" #inputConfirmPassword type="password" placeholder="Xác nhận mật khẩu" /><span class="text-danger" *ngIf="errConfirm">Mật khẩu xác nhận không khớp</span></div>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0"><button class="btn btn-primary btn-block" type="submit">Tạo tài khoản</button></div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a routerLink="/auth/login">Đã có tài khoản? Đi tới đăng nhập!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div></sb-layout-auth
>
