frontend/src/modules/dashboard/containers/add-product/add-product.component.pug
sb-layout-dashboard
    sb-dashboard-head( *ngIf="product.status == 1"  , [title]= '(actionEdit ? "Sửa " : "Thêm ") + "sản phẩm" ', [hideBreadcrumbs]='false')
    sb-dashboard-head( *ngIf="product.status == 2", title = 'Bán lại sản phẩm ', [hideBreadcrumbs]='false')
    div
    div.alert.alert-success( *ngIf = "alertTB.show")
        span {{ alertTB.msg }}
    //table ============================
    div (
            span.text-danger *
            span ) Bắt buộc nhập
    form.border-bottom([formGroup]="formGroup", (submit) = "onSubmit()")
        div.col-12.col-lg-8
        div.row
            div.row.col-6
                div.col-12.my-2
                    label(for="") Tên sản phẩm
                        span.text-danger * 
                    input.form-control( [ngClass]= "(getFormControl?.productName?.errors && submited) || errorAPI === 'FAIL_PRODUCT_NAME' ? 'outline-danger':''" ,type="text",formControlName = "productName")
                    span.text-danger( *ngIf = "getFormControl?.productName?.errors?.required && submited") Không để trống tên sản phẩm
                    span.text-danger( *ngIf = "getFormControl?.productName?.errors?.minlength && submited") Tên sản phẩm tối thiểu 5 kí tự
                    span.text-danger( *ngIf = " errorAPI === 'FAIL_PRODUCT_NAME' && submited") Tên đăng nhập này đã được sử dụng
                div.col-12.my-2
                    div.row
                        span.col-12
                            label(for="") Thể loại 
                                span.text-danger * 
                            select.form-control(name="", (change) = "setCategory()" ,formControlName = "category")
                                option( *ngFor = "let ctg of categoryDatas.data" ,[ngValue]="ctg")  {{ ctg.typeName }}
                    span.text-danger( *ngIf = "getFormControl?.category?.errors?.required && submited") Chọn thể loại
                    span.text-warning {{errorMsg}}
                div.col-12.my-2
                    div.row
                        span.col-12
                            label(for="") Ánh sáng phù hợp 
                                span.text-danger * 
                            select.form-control(name="",formControlName = "lightAspect")
                                option( *ngFor = "let ctg of listLightAspect.data" ,[value]="ctg.idLightAspect")  {{ ctg.lightAspectName }}
                    span.text-danger( *ngIf = "getFormControl?.lightAspect?.errors?.required && submited") Chọn ánh sáng phù hợp
                div.col-12.my-2 
                    | Môi trường sống 
                    span.text-danger * 
                    ul.nav.nav-tabs.border-0(id="myTab" ,role="tablist")
                        li.my-2.nav-item.border-0.pr-3.pointer(role="presentation", *ngFor="let habitat of listHabitat.data;let i = index", (click)="addHabitatToProduct(habitat)")
                            span.nav-link.border( [ngClass]=" checkHabitat(habitat) ? 'bg-success text-white bi bi-check2' : ''" ,aria-selected="true")  {{ habitat.habitatsName }}  
                    span.text-danger( *ngIf=" listLHabitatChoose.length < 1 && submited "  ) Chưa chọn môi trường sống
                    div 
            div.col-6.row
                div.col-12.my-2
                    label Mô tả
                    div
                        //- textarea.form-control( formControlName = "moTa" , name="", cols="30", rows="5")
                        ckeditor(formControlName = "moTa", *ngIf="getFormControl?.productName?.value && actionEdit")
                        ckeditor(formControlName = "moTa", *ngIf="!actionEdit")
                    //- span.text-danger( *ngIf = "getFormControl?.moTa?.errors?.required && submited") Không để trống tên sản phẩm
                    //- span.text-danger( *ngIf = "getFormControl?.moTa?.errors?.minlength && submited") Tên sản phẩm tối thiểu 5 kí tự
                    //- span.text-danger( *ngIf = " errorAPI === 'FAIL_PRODUCT_NAME' && submited") Tên đăng nhập này đã được sử dụng
                    div
                        //- button.ml-auto.btn.btn-primary.my-3(type = "submit") Lưu sản phẩm
                        input(type="submit",value="save",id="savePro",hidden)
            
    div.row.mt-5
        div.col-12 
            label(for="") Phân loại
                span.text-danger * 
            div.text-danger(*ngIf="error") Hãy nhập lại giá và số lượng

            table.table.table-bordered
                thead 
                    tr 
                        th
                            .h-100.d-flex
                                span.my-auto Màu
                                span.ml-auto.btn-success.btn((click)="createProductSize(colorNotChoose())") Thêm màu
                        th.align-middle Kích thước 
                        th.align-middle Số lượng
                        th.align-middle Giá
                        th.align-middle Ảnh
                        th.align-middle Hành động
                tbody( *ngFor = "let prds of productSize; let i = index" ,[attr.hidden]="prds.color.status != 1 ? 'hidden' : null")
                    tr
                        td.align-middle( style = "width:200px;", [attr.rowspan]="prds?.productSize?.length+2" )
                            div
                                div.d-flex 
                                    span.btn-danger.btn.w-100.bi-x.mb-3.bi((click)="deleteColor(prds,productSize)",*ngIf="productSize.length > 1") Bỏ màu
                                div.d-flex
                                    select.form-control(#sl,name="", (change)="setColor(prds)", [attr.disabled]="colors.data?.length === productSize?.length ? 'disabled':null" ,[(ngModel)]="prds.color" )
                                        option( *ngFor = "let color of colors.data ; let h = index" , [attr.hidden] = "isColor(color,productSize) ? 'hidden' : null",[ngValue]="color")  {{ color.colorName}}
                                    //- span( *ngIf="prds?.productSize[0]?.idProductSize") {{ prds.color.colorName}}
                                
                    tr( *ngFor = "let prds2 of prds?.productSize; let j = index ", [attr.hidden]="prds2.status != 1 ? 'hidden' : null")
                        td.align-middle
                            select.form-control(name="",  [(ngModel)] ="prds2.size" ,[attr.disabled]="sizes.data?.length === prds?.productSize?.length ? 'disabled':null")
                                option( *ngFor = "let size of sizes.data ; let k = index" , [attr.hidden] = "isSize(size,prds.color) ? 'hidden' : null",[ngValue]="size")  {{ size.sizeName}}
                            //- span(*ngIf="prds2?.idProductSize") {{ prds2.size.sizeName }}
                        td.align-middle 
                            input.px-2.form-control.p-0.m-0((change) = "setQuantity(prds2, inputQuantity,tbQuantity)",[value] = "prds2?.quantity" , #inputQuantity , type="number")
                            span.text-danger(#tbQuantity,hidden) Số lượng lớn từ 0 đến 1 triệu
                        td.align-middle 
                            div.input-group
                                input.px-2.p-0.m-0.form-control.form-group( (change) = "setPrice(prds2, inputPrice,tbPrice)" ,[value] = "prds2?.price", #inputPrice , type="number")
                                span.input-group-append
                                            span.input-group-text VND
                            span.text-danger(#tbPrice,hidden) Giá lớn hơn 0 nhỏ hơn 100 triệu
                        td( style = "width:100px;")
                            div
                                input.inputfile(#inputFile,type="file",accept="image/*" , multiple , (change) = "setFiles($event,prds2,i)")
                                span.w-100.aspect-ratio-1.d-flex.m-0([ngClass]= "prds2?.imagePath  && submited ? 'outline-danger':''" ,)
                                        span.aspect-ratio-1.w-100.p-0.position-relative( *ngIf = "prds2.imagePath")
                                            span.w-100.hover-delete-img
                                                img.border-2.w-100.aspect-ratio-1( *ngIf="prds2?.imagePath?.length > 100",[src]="'data:image/png;base64,'+prds2?.imagePath",style="object-fit: cover;")
                                                img.border-2.w-100.aspect-ratio-1( *ngIf="prds2?.imagePath?.length < 100",[src]="prds2?.imagePath",style="object-fit: cover;")
                                                span.position-absolute.w-100.bg-dark.left-0.right-0.opacity-0(  , style = "aspect-ratio : 1;",data-toggle="modal",data-target="#deleteImage",(click) = "alertDeleteImage(i,prds2)") 
                                                    span.align-items-center.text-center.w-100.aspect-ratio-1.d-flex
                                                        span.m-auto.d-flex.flex-column
                                                            i.bi.bi-x.h2.text-danger
                                                            span.text-white Xóa ảnh 
                                        span.hover-delete-img.aspect-ratio-1.w-100.p-0( *ngIf = "!prds2.imagePath" )
                                            span.border-2.w-100.py-3.w-100.aspect-ratio-1( [ngClass] = "showImage.length < 1 ? 'h-100' : 'aspect-ratio-1'" ,(click) = "inputFile.click()") 
                                                span.align-items-center.text-center.w-100.aspect-ratio-1.d-flex
                                                    span.m-auto.d-flex.flex-column
                                                        i.bi.bi-plus.h2.text-info
                                                        span.text-info Thêm ảnh
                                span.text-danger(  ,*ngIf= "prds2?.imagePath?.length < 1 && submited" ) Thiếu ảnh
                        td.align-middle
                            span.mx-2.btn.btn-primary.bi.bi-plus( *ngIf="countHidenButtonDash(prds?.productSize) < sizes?.data?.length " , (click)="addSizeAndPrice(prds.color,prds.productSize)",data-toggle="tooltip" ,data-placement="bottom" ,title="Thêm mới kích thước")
                            span.mx-2.btn.btn-danger.bi.bi-dash( *ngIf="countHidenButtonDash(prds?.productSize) > 1 " , (click)="deleteProductSize(prds2,prds.productSize)",data-toggle="tooltip", data-placement="bottom", title="Xóa bỏ kích thước")
                                 
                            //- div.modal.fade(id="deleteImage" tabindex="1")
                            //- div.modal-dialog.modal-dialog-centered
                            //-     div.modal-content
                            //-         div.modal-header.py-1
                            //-             h5.modal-title( id="exampleModalLabel") Xác nhận xóa kích thước
                            //-             span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
                            //-                 span(aria-hidden="true") &times;
                            //-         div.modal-body
                            //-             div.text-center.mb-3 Bạn thực sự muốn xóa 
                            //-                 b kích thước 
                            //-                 |?
                            //-             div.d-flex 
                            //-                 button.btn.btn-primary.mx-auto(data-dismiss="modal",) Đóng
                            //-                 button.btn.btn-danger.mx-auto(data-dismiss="modal",(click) = "deleteImage()") Xác nhận

            div.d-flex
                label.btn.btn-primary.ml-auto(for="savePro",value="") Lưu sản phẩm
     
div.modal.fade(id="deleteImage" tabindex="1")
  div.modal-dialog.modal-dialog-centered
    div.modal-content
        div.modal-header.py-1
            h5.modal-title( id="exampleModalLabel") Xác nhận xóa ảnh
            span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
                span(aria-hidden="true") &times;
        div.modal-body
            div.text-center.mb-3 Bạn thực sự muốn xóa 
                b ảnh 
                |?
            div.d-flex 
                button.btn.btn-primary.mx-auto(data-dismiss="modal",) Đóng
                button.btn.btn-danger.mx-auto(data-dismiss="modal",(click) = "deleteImage()") Xác nhận

frontend/src/modules/dashboard/containers/add-product/add-product.component.html
<sb-layout-dashboard
    ><sb-dashboard-head *ngIf="product.status == 1" [title]='(actionEdit ? "Sửa " : "Thêm ") + "sản phẩm" ' [hideBreadcrumbs]="false"></sb-dashboard-head><sb-dashboard-head *ngIf="product.status == 2" title="Bán lại sản phẩm " [hideBreadcrumbs]="false"></sb-dashboard-head>
    <div></div>
    <div class="alert alert-success" *ngIf="alertTB.show"><span>{{ alertTB.msg }}</span></div>
    <!--table ============================-->
    <div>(<span class="text-danger">*</span><span>) Bắt buộc nhập</span></div>
    <form class="border-bottom" [formGroup]="formGroup" (submit)="onSubmit()">
        <div class="col-12 col-lg-8"></div>
        <div class="row">
            <div class="row col-6">
                <div class="col-12 my-2">
                    <label for="">Tên sản phẩm<span class="text-danger">* </span></label><input class="form-control" [ngClass]="(getFormControl?.productName?.errors &amp;&amp; submited) || errorAPI === 'FAIL_PRODUCT_NAME' ? 'outline-danger':''" type="text" formControlName="productName" /><span class="text-danger" *ngIf="getFormControl?.productName?.errors?.required &amp;&amp; submited">Không để trống tên sản phẩm</span><span class="text-danger" *ngIf="getFormControl?.productName?.errors?.minlength &amp;&amp; submited">Tên sản phẩm tối thiểu 5 kí tự</span><span class="text-danger" *ngIf=" errorAPI === 'FAIL_PRODUCT_NAME' &amp;&amp; submited">Tên đăng nhập này đã được sử dụng</span>
                </div>
                <div class="col-12 my-2">
                    <div class="row">
                        <span class="col-12"
                            ><label for="">Thể loại <span class="text-danger">* </span></label
                            ><select class="form-control" name="" (change)="setCategory()" formControlName="category">
                                <option *ngFor="let ctg of categoryDatas.data" [ngValue]="ctg">{{ ctg.typeName }}</option>
                            </select></span
                        >
                    </div>
                    <span class="text-danger" *ngIf="getFormControl?.category?.errors?.required &amp;&amp; submited">Chọn thể loại</span><span class="text-warning">{{errorMsg}}</span>
                </div>
                <div class="col-12 my-2">
                    <div class="row">
                        <span class="col-12"
                            ><label for="">Ánh sáng phù hợp <span class="text-danger">* </span></label
                            ><select class="form-control" name="" formControlName="lightAspect">
                                <option *ngFor="let ctg of listLightAspect.data" [value]="ctg.idLightAspect">{{ ctg.lightAspectName }}</option>
                            </select></span
                        >
                    </div>
                    <span class="text-danger" *ngIf="getFormControl?.lightAspect?.errors?.required &amp;&amp; submited">Chọn ánh sáng phù hợp</span>
                </div>
                <div class="col-12 my-2">
                    Môi trường sống <span class="text-danger">* </span>
                    <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                        <li class="my-2 nav-item border-0 pr-3 pointer" role="presentation" *ngFor="let habitat of listHabitat.data;let i = index" (click)="addHabitatToProduct(habitat)"><span class="nav-link border" [ngClass]=" checkHabitat(habitat) ? 'bg-success text-white bi bi-check2' : ''" aria-selected="true"> {{ habitat.habitatsName }} </span></li>
                    </ul>
                    <span class="text-danger" *ngIf=" listLHabitatChoose.length &lt; 1 &amp;&amp; submited ">Chưa chọn môi trường sống</span>
                    <div></div>
                </div>
            </div>
            <div class="col-6 row">
                <div class="col-12 my-2">
                    <label>Mô tả</label>
                    <div><ckeditor formControlName="moTa" *ngIf="getFormControl?.productName?.value &amp;&amp; actionEdit"></ckeditor><ckeditor formControlName="moTa" *ngIf="!actionEdit"></ckeditor></div>
                    <div><input type="submit" value="save" id="savePro" hidden /></div>
                </div>
            </div>
        </div>
    </form>
    <div class="row mt-5">
        <div class="col-12">
            <label for="">Phân loại<span class="text-danger">* </span></label>
            <div class="text-danger" *ngIf="error">Hãy nhập lại giá và số lượng</div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <div class="h-100 d-flex"><span class="my-auto">Màu</span><span class="ml-auto btn-success btn" (click)="createProductSize(colorNotChoose())">Thêm màu</span></div>
                        </th>
                        <th class="align-middle">Kích thước</th>
                        <th class="align-middle">Số lượng</th>
                        <th class="align-middle">Giá</th>
                        <th class="align-middle">Ảnh</th>
                        <th class="align-middle">Hành động</th>
                    </tr>
                </thead>
                <tbody *ngFor="let prds of productSize; let i = index" [attr.hidden]="prds.color.status != 1 ? 'hidden' : null">
                    <tr>
                        <td class="align-middle" style="width: 200px" [attr.rowspan]="prds?.productSize?.length+2">
                            <div>
                                <div class="d-flex"><span class="btn-danger btn w-100 bi-x mb-3 bi" (click)="deleteColor(prds,productSize)" *ngIf="productSize.length &gt; 1">Bỏ màu</span></div>
                                <div class="d-flex">
                                    <select class="form-control" #sl name="" (change)="setColor(prds)" [attr.disabled]="colors.data?.length === productSize?.length ? 'disabled':null" [(ngModel)]="prds.color">
                                        <option *ngFor="let color of colors.data ; let h = index" [attr.hidden]="isColor(color,productSize) ? 'hidden' : null" [ngValue]="color">{{ color.colorName}}</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let prds2 of prds?.productSize; let j = index " [attr.hidden]="prds2.status != 1 ? 'hidden' : null">
                        <td class="align-middle">
                            <select class="form-control" name="" [(ngModel)]="prds2.size" [attr.disabled]="sizes.data?.length === prds?.productSize?.length ? 'disabled':null">
                                <option *ngFor="let size of sizes.data ; let k = index" [attr.hidden]="isSize(size,prds.color) ? 'hidden' : null" [ngValue]="size">{{ size.sizeName}}</option>
                            </select>
                        </td>
                        <td class="align-middle"><input class="px-2 form-control p-0 m-0" (change)="setQuantity(prds2, inputQuantity,tbQuantity)" [value]="prds2?.quantity" #inputQuantity type="number" /><span class="text-danger" #tbQuantity hidden>Số lượng lớn từ 0 đến 1 triệu</span></td>
                        <td class="align-middle">
                            <div class="input-group">
                                <input class="px-2 p-0 m-0 form-control form-group" (change)="setPrice(prds2, inputPrice,tbPrice)" [value]="prds2?.price" #inputPrice type="number" /><span class="input-group-append"><span class="input-group-text">VND</span></span>
                            </div>
                            <span class="text-danger" #tbPrice hidden>Giá lớn hơn 0 nhỏ hơn 100 triệu</span>
                        </td>
                        <td style="width: 100px">
                            <div>
                                <input class="inputfile" #inputFile type="file" accept="image/*" multiple (change)="setFiles($event,prds2,i)" /><span class="w-100 aspect-ratio-1 d-flex m-0" [ngClass]="prds2?.imagePath  &amp;&amp; submited ? 'outline-danger':''"
                                    ><span class="aspect-ratio-1 w-100 p-0 position-relative" *ngIf="prds2.imagePath"
                                        ><span class="w-100 hover-delete-img"
                                            ><img class="border-2 w-100 aspect-ratio-1" *ngIf="prds2?.imagePath?.length &gt; 100" [src]="'data:image/png;base64,'+prds2?.imagePath" style="object-fit: cover" /><img class="border-2 w-100 aspect-ratio-1" *ngIf="prds2?.imagePath?.length &lt; 100" [src]="prds2?.imagePath" style="object-fit: cover" /><span class="position-absolute w-100 bg-dark left-0 right-0 opacity-0" style="aspect-ratio: 1" data-toggle="modal" data-target="#deleteImage" (click)="alertDeleteImage(i,prds2)">
                                                <span class="align-items-center text-center w-100 aspect-ratio-1 d-flex"
                                                    ><span class="m-auto d-flex flex-column"><i class="bi bi-x h2 text-danger"></i><span class="text-white">Xóa ảnh </span></span></span
                                                ></span
                                            ></span
                                        ></span
                                    ><span class="hover-delete-img aspect-ratio-1 w-100 p-0" *ngIf="!prds2.imagePath"
                                        ><span class="border-2 w-100 py-3 w-100 aspect-ratio-1" [ngClass]="showImage.length &lt; 1 ? 'h-100' : 'aspect-ratio-1'" (click)="inputFile.click()">
                                            <span class="align-items-center text-center w-100 aspect-ratio-1 d-flex"
                                                ><span class="m-auto d-flex flex-column"><i class="bi bi-plus h2 text-info"></i><span class="text-info">Thêm ảnh</span></span></span
                                            ></span
                                        ></span
                                    ></span
                                ><span class="text-danger" *ngIf="prds2?.imagePath?.length &lt; 1 &amp;&amp; submited">Thiếu ảnh</span>
                            </div>
                        </td>
                        <td class="align-middle"><span class="mx-2 btn btn-primary bi bi-plus" *ngIf="countHidenButtonDash(prds?.productSize) &lt; sizes?.data?.length " (click)="addSizeAndPrice(prds.color,prds.productSize)" data-toggle="tooltip" data-placement="bottom" title="Thêm mới kích thước"></span><span class="mx-2 btn btn-danger bi bi-dash" *ngIf="countHidenButtonDash(prds?.productSize) &gt; 1 " (click)="deleteProductSize(prds2,prds.productSize)" data-toggle="tooltip" data-placement="bottom" title="Xóa bỏ kích thước"></span></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex"><label class="btn btn-primary ml-auto" for="savePro" value="">Lưu sản phẩm</label></div>
        </div>
    </div></sb-layout-dashboard
>
<div class="modal fade" id="deleteImage" tabindex="1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa ảnh</h5>
                <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body">
                <div class="text-center mb-3">Bạn thực sự muốn xóa <b>ảnh </b>?</div>
                <div class="d-flex"><button class="btn btn-primary mx-auto" data-dismiss="modal">Đóng</button><button class="btn btn-danger mx-auto" data-dismiss="modal" (click)="deleteImage()">Xác nhận</button></div>
            </div>
        </div>
    </div>
</div>
