frontend/src/modules/layout/page-kien-thuc/page-kien-thuc.component.html
<layout
    ><div class="container-xl mt-5">
        <div class="my-2 text-center text-uppercase text-muted">Hướng dẫn trồng sen đá</div>
        <div class="my-2 h1 text-success text-center">Kinh nghiệm trồng và chăm sóc sen đá lên màu chuẩn như ở vườn</div>
        <img class="w-100" src="/assets/img/banner4.jpg" alt="" />
        <p>Sen đá được yêu thích không chỉ bởi sự nhỏ nhắn đáng yêu mà còn vì đây là một loại cây cực kì dễ sống, dễ trồng. Đối với nhiều người, có lẽ trồng và chăm sóc sen đá không có gì là quá khó. Với kinh nghiệm nhiều năm trong lĩnh vực kinh doanh cây cảnh, Sen Đá Đà Lạt đã tổng hợp tất cả các mẹo đơn giản hướng dẫn bạn cách trồng cây sen đá trong chậu bền và đẹp.</p>
        <p>Tưới nước cho cây sen đá</p>
        <p>Theo kinh nghiệm chăm sóc cây sen đá của Vườn Sen Đá, nước và ánh sáng là hai yếu tố quan trọng cần đặc biệt chú ý nhất.</p>
        <img class="w-100" src="/assets/img/banner3.jpg" alt="" />
        <p>Hình ảnh: Nước và ánh sáng là hai yếu tố quan trọng quyết định màu sắc và vẻ đẹp của cây</p>
        <p>Để tưới nước hiệu quả, trước hết bạn cần hiểu sen đá cần bao nhiêu nước là đủ. Có nhiều người quan niệm sen đá cần ít nước nên chỉ tưới rất ít (vài giọt, hoặc một ít) dẫn đến tình trạng cây bị thiếu nước mà chết. Đây là quan niệm chưa đủ, chỉ thể hiện thông qua số lần tưới chứ không phải là lượng nước tưới cho cây.</p>
        <p>Biểu hiện một cây sen đá thiếu nước?</p>
        <p>Một cây sen đá khi bị thiếu nước sẽ có dấu hiệu để bạn nhận biết và điều chỉnh lượng nước tưới cho phù hợp. Thông thường nếu không được cung cấp nước trong thời gian dài, các lá sen đá già dưới gốc sẽ có màu sắc cây nhợt nhạt hơi úa vàng, lá mềm rủ xuống, trông thiếu sức sống. Đồng thời, các lá mới ra sẽ bị ngắn và bộ lá của cây không được đẹp.</p>
        <p>Khi nào cần tưới cho cây?</p>
        <p>Thông thường, cách chăm sóc sen đá tốt nhất đó là tưới nước khi đất đã khô hẳn. Tuỳ thuộc vào điều kiện nắng, gió và độ ẩm nơi trồng mà bạn có thể điều chỉnh thời gian và lượng nước tưới cho phù hợp. Việc để cho đất khô hẳn rồi tưới giúp kích thích rễ cây phát triển rất tốt nhất.</p>
        <img class="w-100" src="/assets/img/banner5.jpg" alt="" />
        <p>Hình ảnh: Nên để đất khô giữa các lần tưới</p>
        <p>Bạn cũng nên tránh trường hợp mỗi ngày tưới cho cây một ít khiến cho đất ẩm và không thể cứu chữa được.</p>
        <p>Tưới bao nhiêu nước?</p>
        <p>Khi trồng sen đá khi mới mua về, cách để giữ cho cây mọc rễ mới nhanh nhất đó là mỗi lần đất khô cần tưới nhiều nước đến khi tất cả đất trong chậu đạt độ ẩm thích hợp. Nếu tưới cây quá ít sẽ không đủ nước cho rễ phát triển, rễ sẽ chết dần và kéo theo cây bị yếu và chậm phát triển.</p>
        <p>Lưu ý quan trọng khi tưới</p>
        <p>Các kỹ thuật trồng sen đá được nhà vườn hướng dẫn cho người có ít kinh nghiệm đó là tránh tưới lên lá, vì nếu nước đọng trên lá dễ khiến cây bị úng. Tuy nhiên có một số loại sen đá vẫn có thể tưới lên lá bình thường như các dòng sedum, sen thơm (hay còn gọi là cây nhất mạt hương).</p>
        <img class="w-100" src="/assets/img/banner6.jpg" alt="" />
        <p>Hình ảnh: Không để nước đọng trên lá sen đá</p>
        <p>Khi chăm sóc sen đá trong nhà, nếu lỡ để nước dính lên lá bạn có thể dùng cách thổi cho nước rơi ra hoặc để quạt gió cho cây khô, nên tưới cây vào buổi sáng giúp cây mau khô hơn.</p>
        <p>Gợi ý cách tưới</p>
        <p>Vì cây sen đá không ưa nước nên cần hạn chế tưới nước. Cách cách chăm sen đá đơn giản nhất là dùng một khay/dĩa/tô/chén hoặc bất cứ thứ gì có thể đựng nước, cho nhiều nước và thấp hơn chiều cao của chậu. Sau đó đặt chậu cây đã khô đất vào, để đó khoản 10-15 phút sau khi thấy bề mặt đất đã ướt thì nước đã thấm đều vào đất, sau đó lấy cây ra. Lúc này bạn ko cần phải canh, để đó hơn 10-15 phút cũng không sao, đừng để nguyên ngày là được.</p>
        <p>Ngoài ra thì bạn có thể tưới trực tiếp lên lá cây bình thường, miễn là sau khi tưới bạn phải để cây chỗ nào thoáng mát để tránh bị đọng nước lên lá gây ra hiện tượng úng thân cây.</p>
        <img class="w-100" src="/assets/img/banner7.jpg" alt="" />
        <p>Hình ảnh: Sen đá nhận đủ ánh sáng sẽ nở những bông hoa rất đẹp</p>
        <p>Biểu hiện thiếu nắng ở một vài loại sen đá</p>
        <p>Hầu như tất cả các loại cây sen đá nói chung khi bị thiếu nắng lâu ngày sẽ có biểu hiện như lá mới ra nhỏ dần, nhạt màu, không tương xứng với bộ lá cũ. Rất ít ra lá mới, cây ốm và cao dần, cây yếu, không cứng cáp.</p>
        <p>Nếu bạn thấy những dấu hiệu sau trên cây sen đá của mình chứng tỏ cần thay đổi ngay vị trí đặt cây và mang cây ra chỗ nhiều ánh sáng hơn:</p>
        <p>– Sen nâu: đây là loại có nhu cầu nắng khá cao. Khi cây thiếu nắng sẽ biểu hiện rất nhanh qua màu sắc của tán lá. Cụ thể lá sẽ mất màu nâu và chuyển dần qua màu xanh.</p>
        <p>– Sen thái, sen đất xanh: Khi thiếu nắng lá cây mọc ở giữa có nhạt màu, hơi ngả sang màu trắng. Đồng thời lá mới nhỏ và thưa thớt các lá trưởng thành.</p>
        <p>– Sen hồng phấn, viền đỏ, hoa hồng trắng, thược dược: Cây vươn cao, lá mới ra nhỏ, lá ngày càng thưa, màu sắc nhạt. Đối với hồng phấn và viền đỏ thì lá sẽ mờ dần màu sắc ở viền.</p>
        <p>– Sen phật bà: Hầu như không ra thêm lá mới ở giữa, để trong phòng quá lâu vừa thiếu nắng vừa nóng thì có hiện tượng lá trút ngược xuống dưới. Người ta thường gọi đây là hiện tượng “Phật bà mặc váy”.</p>
        <p>– Cỏ ngọc, ống điếu: Cây ít ra lá mới, lá nhạt màu dần, lá yếu không cứng cáp.</p>
        <p>– Móng rồng, sen ngọc: Đây là 2 loại có nhu cầu nắng khá ít, nhưng nếu bạn trong bóng tối thời gian dài thì lá mới ra sẽ ốm, nhạt màu, yếu ớt.</p>
        <p>Phơi nắng thế nào và bao nhiêu là đủ?</p>
        <p>Trong cách trồng và chăm sóc sen đá tốt nhất, ánh nắng ở đây không đồng nghĩa với ánh nắng gay gắt của mặt trời. Bởi nếu bạn để cây quá lâu dưới ánh nắng giữa trưa giờ cao điểm có thể làm cây bị cháy nắng, có trường hợp dẫn đến sốc nhiệt và cây rụng lá đột ngột.</p>
        <img class="w-100" src="/assets/img/banner8.jpg" alt="" />
        <p>Hình ảnh: Nên để cây ở vị trí có nhiều ánh sáng tự nhiên nhất</p>
        <p>Theo kinh nghiệm của mình, Vườn Sen Đá sẽ chia sen đá thành những nhóm có nhu cầu nắng/ ánh sáng tương đồng nhau.</p>
        <p>– Sen nâu, sen dù: Đây là các loại có nhu cầu nắng rất cao, do đó có thể phơi nắng nguyên buổi sáng đến trước 12 giờ. Đặc biệt là khi mới mua cây về. Sau một thời gian cây đã ổn định và cứng cáp có thể phơi nắng nguyên ngày.</p>
        <p>– Sen thái, sen đất xanh, sen hồng phấn, hoa hồng trắng, thược dược, sen phật bà, cỏ ngọc, ống điếu: Các loại này nên phơi nắng với thời gian bằng nhau. Thời gian phơi nắng là khoảng tầm 3 tiếng buổi sáng (trước 10h). Có thể thay nắng buổi sáng bằng nắng chiều đối với bạn nào không có thời gian vào buổi sáng, chỉ tránh phơi nắng vào giữa trưa 12h-3h vì lúc này nắng quá gắt, cây dễ bị tổn thương. Nếu thấy cây vẫn có biểu hiện thiếu nắng thì có thể tăng thời gian phơi nắng nhiều hơn cho cây một chút, và chỉ nên tăng nắng khi cây đã ổn định với môi trường trồng mới.</p>
        <p>– Móng rồng, sen ngọc, dạ quang, sen guốc: Đây là các loại có nhu cầu nắng ít. Có thể phơi nắng khoảng 1 tiếng buổi sáng (nắng trước 8h). Khi phơi các loại này dưới ánh nắng quá nhiều có thể khiến cây bị ốm và sậm màu. Ngoài ra móng rồng có một cách chăm được nhiều người áp dụng tốt nhất đó là mỗi tuần phơi nắng 1 ngày, các ngày còn lại vẫn để cây nơi có ánh sáng.</p>
        <p>Một vài lưu ý khi phơi nắng cho cây</p>
        <img class="w-100" src="/assets/img/banner9.jpg" alt="" />
        <p>Hình ảnh: Ánh sáng quyết định màu sắc của hoa sen đá</p>
        <p>– Ngoài việc bị thiếu nắng thì cây cũng có thể bị thừa nắng. Biểu hiện thừa nắng đó là lá cây sẽ ngả sang màu vàng, và vàng rụng lá liên tục để giảm bớt tình trạng thoát hơi nước qua lá.</p>
        <p>– Việc thiếu nắng không chỉ khiến cây không đẹp mà còn khiến đất lâu khô và cây dễ bị úng.</p>
        <p>– Sau thời gian phơi nắng, thì nên để cây ở nơi có ánh sáng nhẹ, có thể là có mái che như vẫn nhận được ánh sáng tự nhiên của mặt trời. Tránh đưa cây vào ngay những nơi lạnh, hoặc phòng tối vì cây rất dễ bị sốc nhiệt và rụng lá.</p>
        <p>– Sau 1,2 ngày thì nên xoay chậu để cây sen đá không bị nghiêng qua bên có nắng.</p>
        <p>Bên cạnh nước và ánh sáng, để chăm sóc sen đá mini khỏe mạnh, thì bạn cũng cần quan tâm đến các yếu tố khác như nhiệt độ, loại đất trồng, loại chậu trồng cây,… Đối với những ai chưa biết cách chăm cây sen đá như thế nào là tốt nhất hãy nhắn tin hoặc gọi điện cho Vườn Sen Đá để được tư vấn trực chi tiết nhé. Hy vọng bài viết đã cung cấp những mẹo bổ ích giúp bạn có được một cây sen đá và xương rồng khỏe đẹp!</p>
    </div></layout
>

frontend/src/modules/layout/page-kien-thuc/page-kien-thuc.component.pug
layout
    div.container-xl.mt-5
        div.my-2.text-center.text-uppercase.text-muted Hướng dẫn trồng sen đá
        div.my-2.h1.text-success.text-center Kinh nghiệm trồng và chăm sóc sen đá lên màu chuẩn như ở vườn
        img.w-100(src="/assets/img/banner4.jpg", alt="")
        p Sen đá được yêu thích không chỉ bởi sự nhỏ nhắn đáng yêu mà còn vì đây là một loại cây cực kì dễ sống, dễ trồng. Đối với nhiều người, có lẽ trồng và chăm sóc sen đá không có gì là quá khó. Với kinh nghiệm nhiều năm trong lĩnh vực kinh doanh cây cảnh, Sen Đá Đà Lạt đã tổng hợp tất cả các mẹo đơn giản hướng dẫn bạn cách trồng cây sen đá trong chậu bền và đẹp.
        p Tưới nước cho cây sen đá 
        p Theo kinh nghiệm chăm sóc cây sen đá của Vườn Sen Đá, nước và ánh sáng là hai yếu tố quan trọng cần đặc biệt chú ý nhất.
        img.w-100(src="/assets/img/banner3.jpg", alt="")
        p Hình ảnh: Nước và ánh sáng là hai yếu tố quan trọng quyết định màu sắc và vẻ đẹp của cây
        p Để tưới nước hiệu quả, trước hết bạn cần hiểu sen đá cần bao nhiêu nước là đủ. Có nhiều người quan niệm sen đá cần ít nước nên chỉ tưới rất ít (vài giọt, hoặc một ít) dẫn đến tình trạng cây bị thiếu nước mà chết. Đây là quan niệm chưa đủ, chỉ thể hiện thông qua số lần tưới chứ không phải là lượng nước tưới cho cây.
        p Biểu hiện một cây sen đá thiếu nước?
        p Một cây sen đá khi bị thiếu nước sẽ có dấu hiệu để bạn nhận biết và điều chỉnh lượng nước tưới cho phù hợp. Thông thường nếu không được cung cấp nước trong thời gian dài, các lá sen đá già dưới gốc sẽ có màu sắc cây nhợt nhạt hơi úa vàng, lá mềm rủ xuống, trông thiếu sức sống. Đồng thời, các lá mới ra sẽ bị ngắn và bộ lá của cây không được đẹp.
        p Khi nào cần tưới cho cây?
        p Thông thường, cách chăm sóc sen đá tốt nhất đó là tưới nước khi đất đã khô hẳn. Tuỳ thuộc vào điều kiện nắng, gió và độ ẩm nơi trồng mà bạn có thể điều chỉnh thời gian và lượng nước tưới cho phù hợp. Việc để cho đất khô hẳn rồi tưới giúp kích thích rễ cây phát triển rất tốt nhất.
        img.w-100(src="/assets/img/banner5.jpg", alt="")
        p Hình ảnh: Nên để đất khô giữa các lần tưới
        p Bạn cũng nên tránh trường hợp mỗi ngày tưới cho cây một ít khiến cho đất ẩm và không thể cứu chữa được.
        p Tưới bao nhiêu nước?
        p Khi trồng sen đá khi mới mua về, cách để giữ cho cây mọc rễ mới nhanh nhất đó là mỗi lần đất khô cần tưới nhiều nước đến khi tất cả đất trong chậu đạt độ ẩm thích hợp. Nếu tưới cây quá ít sẽ không đủ nước cho rễ phát triển, rễ sẽ chết dần và kéo theo cây bị yếu và chậm phát triển.
        p Lưu ý quan trọng khi tưới
        p Các kỹ thuật trồng sen đá được nhà vườn hướng dẫn cho người có ít kinh nghiệm đó là tránh tưới lên lá, vì nếu nước đọng trên lá dễ khiến cây bị úng. Tuy nhiên có một số loại sen đá vẫn có thể tưới lên lá bình thường như các dòng sedum, sen thơm (hay còn gọi là cây nhất mạt hương).
        img.w-100(src="/assets/img/banner6.jpg", alt="")
        p Hình ảnh: Không để nước đọng trên lá sen đá
        p Khi chăm sóc sen đá trong nhà, nếu lỡ để nước dính lên lá bạn có thể dùng cách thổi cho nước rơi ra hoặc để quạt gió cho cây khô, nên tưới cây vào buổi sáng giúp cây mau khô hơn.
        p Gợi ý cách tưới
        p Vì cây sen đá không ưa nước nên cần hạn chế tưới nước. Cách cách chăm sen đá đơn giản nhất là dùng một khay/dĩa/tô/chén hoặc bất cứ thứ gì có thể đựng nước, cho nhiều nước và thấp hơn chiều cao của chậu. Sau đó đặt chậu cây đã khô đất vào, để đó khoản 10-15 phút sau khi thấy bề mặt đất đã ướt thì nước đã thấm đều vào đất, sau đó lấy cây ra. Lúc này bạn ko cần phải canh, để đó hơn 10-15 phút cũng không sao, đừng để nguyên ngày là được.
        p Ngoài ra thì bạn có thể tưới trực tiếp lên lá cây bình thường, miễn là sau khi tưới bạn phải để cây chỗ nào thoáng mát để tránh bị đọng nước lên lá gây ra hiện tượng úng thân cây.
        img.w-100(src="/assets/img/banner7.jpg", alt="")
        p Hình ảnh: Sen đá nhận đủ ánh sáng sẽ nở những bông hoa rất đẹp
        p Biểu hiện thiếu nắng ở một vài loại sen đá
        p Hầu như tất cả các loại cây sen đá nói chung khi bị thiếu nắng lâu ngày sẽ có biểu hiện như lá mới ra nhỏ dần, nhạt màu, không tương xứng với bộ lá cũ. Rất ít ra lá mới, cây ốm và cao dần, cây yếu, không cứng cáp.
        p Nếu bạn thấy những dấu hiệu sau trên cây sen đá của mình chứng tỏ cần thay đổi ngay vị trí đặt cây và mang cây ra chỗ nhiều ánh sáng hơn:
        p – Sen nâu: đây là loại có nhu cầu nắng khá cao. Khi cây thiếu nắng sẽ biểu hiện rất nhanh qua màu sắc của tán lá. Cụ thể lá sẽ mất màu nâu và chuyển dần qua màu xanh.
        p – Sen thái, sen đất xanh: Khi thiếu nắng lá cây mọc ở giữa có nhạt màu, hơi ngả sang màu trắng. Đồng thời lá mới nhỏ và thưa thớt các lá trưởng thành.
        p – Sen hồng phấn, viền đỏ, hoa hồng trắng, thược dược: Cây vươn cao, lá mới ra nhỏ, lá ngày càng thưa, màu sắc nhạt. Đối với hồng phấn và viền đỏ thì lá sẽ mờ dần màu sắc ở viền.
        p – Sen phật bà: Hầu như không ra thêm lá mới ở giữa, để trong phòng quá lâu vừa thiếu nắng vừa nóng thì có hiện tượng lá trút ngược xuống dưới. Người ta thường gọi đây là hiện tượng “Phật bà mặc váy”.
        p – Cỏ ngọc, ống điếu: Cây ít ra lá mới, lá nhạt màu dần, lá yếu không cứng cáp.
        p – Móng rồng, sen ngọc: Đây là 2 loại có nhu cầu nắng khá ít, nhưng nếu bạn trong bóng tối thời gian dài thì lá mới ra sẽ ốm, nhạt màu, yếu ớt.
        p Phơi nắng thế nào và bao nhiêu là đủ?
        p Trong cách trồng và chăm sóc sen đá tốt nhất, ánh nắng ở đây không đồng nghĩa với ánh nắng gay gắt của mặt trời. Bởi nếu bạn để cây quá lâu dưới ánh nắng giữa trưa giờ cao điểm có thể làm cây bị cháy nắng, có trường hợp dẫn đến sốc nhiệt và cây rụng lá đột ngột.
        img.w-100(src="/assets/img/banner8.jpg", alt="")
        p Hình ảnh: Nên để cây ở vị trí có nhiều ánh sáng tự nhiên nhất
        p Theo kinh nghiệm của mình, Vườn Sen Đá sẽ chia sen đá thành những nhóm có nhu cầu nắng/ ánh sáng tương đồng nhau.
        p – Sen nâu, sen dù: Đây là các loại có nhu cầu nắng rất cao, do đó có thể phơi nắng nguyên buổi sáng đến trước 12 giờ. Đặc biệt là khi mới mua cây về. Sau một thời gian cây đã ổn định và cứng cáp có thể phơi nắng nguyên ngày.
        p – Sen thái, sen đất xanh, sen hồng phấn, hoa hồng trắng, thược dược, sen phật bà, cỏ ngọc, ống điếu: Các loại này nên phơi nắng với thời gian bằng nhau. Thời gian phơi nắng là khoảng tầm 3 tiếng buổi sáng (trước 10h). Có thể thay nắng buổi sáng bằng nắng chiều đối với bạn nào không có thời gian vào buổi sáng, chỉ tránh phơi nắng vào giữa trưa 12h-3h vì lúc này nắng quá gắt, cây dễ bị tổn thương. Nếu thấy cây vẫn có biểu hiện thiếu nắng thì có thể tăng thời gian phơi nắng nhiều hơn cho cây một chút, và chỉ nên tăng nắng khi cây đã ổn định với môi trường trồng mới.
        p – Móng rồng, sen ngọc, dạ quang, sen guốc: Đây là các loại có nhu cầu nắng ít. Có thể phơi nắng khoảng 1 tiếng buổi sáng (nắng trước 8h). Khi phơi các loại này dưới ánh nắng quá nhiều có thể khiến cây bị ốm và sậm màu. Ngoài ra móng rồng có một cách chăm được nhiều người áp dụng tốt nhất đó là mỗi tuần phơi nắng 1 ngày, các ngày còn lại vẫn để cây nơi có ánh sáng.
        p Một vài lưu ý khi phơi nắng cho cây
        img.w-100(src="/assets/img/banner9.jpg", alt="")
        p Hình ảnh: Ánh sáng quyết định màu sắc của hoa sen đá
        p – Ngoài việc bị thiếu nắng thì cây cũng có thể bị thừa nắng. Biểu hiện thừa nắng đó là lá cây sẽ ngả sang màu vàng, và vàng rụng lá liên tục để giảm bớt tình trạng thoát hơi nước qua lá.
        p – Việc thiếu nắng không chỉ khiến cây không đẹp mà còn khiến đất lâu khô và cây dễ bị úng.
        p – Sau thời gian phơi nắng, thì nên để cây ở nơi có ánh sáng nhẹ, có thể là có mái che như vẫn nhận được ánh sáng tự nhiên của mặt trời. Tránh đưa cây vào ngay những nơi lạnh, hoặc phòng tối vì cây rất dễ bị sốc nhiệt và rụng lá.
        p – Sau 1,2 ngày thì nên xoay chậu để cây sen đá không bị nghiêng qua bên có nắng.
        p Bên cạnh nước và ánh sáng, để chăm sóc sen đá mini khỏe mạnh, thì bạn cũng cần quan tâm đến các yếu tố khác như nhiệt độ, loại đất trồng, loại chậu trồng cây,… Đối với những ai chưa biết cách chăm cây sen đá như thế nào là tốt nhất hãy nhắn tin hoặc gọi điện cho Vườn Sen Đá để được tư vấn trực chi tiết nhé. Hy vọng bài viết đã cung cấp những mẹo bổ ích giúp bạn có được một cây sen đá và xương rồng khỏe đẹp!
