frontend/src/modules/dashboard/containers/color/color.component.html
<sb-layout-dashboard
    ><sb-dashboard-head title="Màu sắc" [hideBreadcrumbs]="false"
        ><div><button class="btn btn-primary my-auto" data-toggle="collapse" data-target="#addParentCategory" #clsAddCtg>Thêm màu</button></div>
        <div class="ml-auto p-2 bg-light spinner-border" loading *ngIf="loading"></div
    ></sb-dashboard-head>
    <div class="alert alert-success" *ngIf="alertTB.show"><span>{{ alertTB.msg }}</span></div>
    <div class="d-flex"><span class="text-danger" *ngIf="err.empty">Không để trống tên màu</span><span class="text-danger" *ngIf="err.exists">Tên màu bị trùng</span><button class="ml-auto btn btn-danger" *ngIf="listDeleteParen.length &gt; 0 || listDeleteChildl.length &gt; 0 " (click)="deleteMany()">Xóa nhiều</button></div>
    <div>
        <div class="border shadow py-2 my-3 collapse" id="addParentCategory" #outline>
            <div class="d-flex"><span class="bi bi-plus h4 mx-2 p-0 my-auto"></span><input class="bg-white" type="text" placeholder=" Thêm màu" #addparent /><button class="ml-auto btn btn-primary my-0 mx-3 py-0" (click)="saveCategoryParent(addparent,null,null,outline,clsAddCtg)">Lưu</button></div>
        </div>
        <div *ngFor="let data of datas.data">
            <div class="px-3 d-flex border shadow py-2 my-3 hover" #outline data-toggle="collapse" [attr.data-target]="'#id'+data.idCategory" (click)="getSizeAndColor(data)">
                <span class="my-auto"><input class="py-auto bg-white" type="text" disabled [value]="data.colorName" #parent /></span
                ><span class="ml-auto d-flex"
                    ><div #button hidden><button class="mx-2 btn btn-danger my-1 py-0" type="" (click)="close(button,parent)">Đóng</button><button class="mx-2 btn btn-primary my-1 py-0" (click)="saveCategoryParent(parent,data,button,outline,null)">Lưu</button></div>
                    <div class="crud opacity-0 my-auto"><i class="h4 p-1 pointer" data-toggle="collapse" [attr.data-target]="'#id' + data.idCategory" aria-expanded="false" aria-controls=""></i><i class="my-0 mr-2 p-1 pointer hover-warning bi bi-pencil-square text-muted h4" (click)="editForm(button,parent)"></i><i class="p-1 my-0 pointer hover-danger bi bi-trash3 text-muted h4" (click)="alertDeleteCategory(data,false)" data-toggle="modal" data-target="#deleteCategory"></i></div
                ></span>
            </div>
            <!-- modal Màu-->
            <div class="modal fade" [id]="'color' + data.idCategory " tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header py-1">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm sửa xóa màu cho màu</h5>
                            <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <span>(</span><span class="text-danger">* </span><span>) Bắt buộc nhập</span>
                                <form class="mb-3" [formGroup]="formColor" (submit)="onSubmitColor()">
                                    <label for="colorName">Màu sắc <span class="text-danger">*</span></label
                                    ><input class="border form-control" type="text" formControlName="colorName" />
                                    <div class="text-danger" *ngIf="formColor.controls['colorName']?.errors?.required &amp;&amp; submitColor">Không bỏ trống</div>
                                    <button class="btn my-2 btn-primary" type="submit">Lưu Màu</button>
                                </form>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Màu</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let color of colorList">
                                            <td><input class="pr-2" type="checkbox" /><span class="pl-2">{{ color.colorName }}</span></td>
                                            <td>
                                                <div class="d-flex"><i class="my-0 ml-auto mr-2 p-1 pointer hover-warning bi bi-pencil-square text-muted h4" (click)="editColor(color)"></i><i class="p-1 my-0 pointer hover-danger bi bi-trash3 text-muted h4" (click)="alertDeleteColor(color)" data-toggle="modal" data-target="#deleteColor"></i></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" style="z-index: 9999" id="deleteColor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header py-1">
                            <h5 class="modal-title" id="exampleModalLabel">Xóa màu</h5>
                            <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                        </div>
                        <div class="modal-body text-center">
                            <span>Xóa kích thước <b>{{colorDelete?.colorName}}</b></span>
                        </div>
                        <div class="modal-footer text-center d-flex"><button class="mx-auto btn btn-primary" data-dismiss="modal">Đóng</button><button class="mx-auto btn btn-danger" data-dismiss="modal" (click)="deleteColor()">Xóa</button></div>
                    </div>
                </div>
            </div>
            <!--Modal Size-->
            <div class="modal fade" [id]="'size' + data.idCategory " tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header py-1">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm sửa xóa kích thước cho màu</h5>
                            <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <span>(<span class="text-danger">* </span><span>) Bắt buộc nhập</span></span>
                                <form (submit)="onSubmitSize()" [formGroup]="formSize">
                                    <label for="sizeName">Kích thước<span class="text-danger">*</span></label
                                    ><input class="border form-control" type="text" formControlName="sizeName" />
                                    <div class="text-danger" *ngIf="formSize.controls['sizeName']?.errors?.required &amp;&amp; submitSize">Không bỏ trống</div>
                                    <button class="btn my-2 btn-primary" type="submit">Lưu kích thước</button>
                                </form>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Kích thước</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let size of dataSize">
                                            <td>{{ size.sizeName }}</td>
                                            <td>
                                                <div class="d-flex"><i class="my-0 ml-auto mr-2 p-1 pointer hover-warning bi bi-pencil-square text-muted h4" (click)="editSize(size)"></i><i class="p-1 my-0 pointer hover-danger bi bi-trash3 text-muted h4" (click)="alertDeleteSize(size)" data-toggle="modal" data-target="#deleteSize"></i></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" style="z-index: 9999" id="deleteSize" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header py-1">
                            <h5 class="modal-title" id="exampleModalLabel">Xóa kích thước</h5>
                            <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                        </div>
                        <div class="modal-body text-center">
                            <span>Xóa màu <b>{{sizeDelete?.sizeName}}</b></span>
                        </div>
                        <div class="modal-footer text-center d-flex"><button class="mx-auto btn btn-primary" data-dismiss="modal">Đóng</button><button class="mx-auto btn btn-danger" data-dismiss="modal" (click)="deleteSize()">Xóa</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div></sb-layout-dashboard
>
<div class="modal fade" id="deleteCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body">
                <div class="text-center mb-3">
                    Xóa màu <b *ngIf="deleteCategory.data?.colorName">{{ deleteCategory.data?.colorName }} </b><span>thì các <b>sản phẩm thuộc màu </b>cũng sẽ mất theo.<br /></span>
                </div>
                <div class="d-flex"><button class="btn btn-primary mx-auto" data-dismiss="modal" aria-label="Close">Đóng</button><button class="btn btn-danger mx-auto" data-dismiss="modal" (click)="deleteCate()">Xác nhận</button></div>
            </div>
        </div>
    </div>
</div>

frontend/src/modules/dashboard/containers/color/color.component.pug
sb-layout-dashboard
    sb-dashboard-head(title='Màu sắc', [hideBreadcrumbs]='false')
        div
            button.btn.btn-primary.my-auto(data-toggle="collapse",data-target="#addParentCategory",#clsAddCtg) Thêm màu
        div.ml-auto.p-2.bg-light.spinner-border( loading,*ngIf = "loading")
    div.alert.alert-success( *ngIf = "alertTB.show")
        span {{ alertTB.msg }}
    div.d-flex
        span.text-danger( *ngIf = "err.empty" ) Không để trống tên màu
        span.text-danger( *ngIf = "err.exists" ) Tên màu bị trùng
        button.ml-auto.btn.btn-danger( *ngIf = "listDeleteParen.length > 0 || listDeleteChildl.length > 0 ",(click)= "deleteMany()") Xóa nhiều
    
        //- div.ml-auto.p-2.bg-light.spinner-border( *ngIf = "loading")
    div
        div.border.shadow.py-2.my-3.collapse#addParentCategory(#outline)
            div.d-flex
                span.bi.bi-plus.h4.mx-2.p-0.my-auto
                input.bg-white(type="text",placeholder= " Thêm màu", #addparent)
                button.ml-auto.btn.btn-primary.my-0.mx-3.py-0((click) = "saveCategoryParent(addparent,null,null,outline,clsAddCtg)") Lưu
        div( *ngFor = "let data of datas.data" )
            div.px-3.d-flex.border.shadow.py-2.my-3.hover(#outline , data-toggle="collapse" ,[attr.data-target]="'#id'+data.idCategory" ,(click)="getSizeAndColor(data)" )
                //- input.my-auto.mx-3(#checkBoxParent, type="checkbox", (click) = "clickCheckBoxParent(document.getElementsByName('id'+data.idCategory),checkBoxParent,data,data.categorySonlst)")

                span.my-auto
                    input.py-auto.bg-white(type="text",disabled, [value] = "data.colorName", #parent) 
                    
                span.ml-auto.d-flex
                    div(#button, hidden)
                        button.mx-2.btn.btn-danger.my-1.py-0(type="", (click) = "close(button,parent)"  ) Đóng
                        button.mx-2.btn.btn-primary.my-1.py-0((click) = "saveCategoryParent(parent,data,button,outline,null)") Lưu
                    //- div.opacity-0.crud()
                    //-     button.mx-2.btn.btn-primary.my-1.py-0( (click)="setCategory(data,true)", type="",data-toggle="modal",[attr.data-target]="'#color' + data.idCategory "   ) Màu
                    //-     button.mx-2.btn.btn-primary.my-1.py-0( (click)="setCategory(data,false)",  data-toggle="modal",[attr.data-target]="'#size' + data.idCategory ") Kích thước
                    div.crud.opacity-0.my-auto
                        i.h4.p-1.pointer(data-toggle="collapse" ,[attr.data-target]="'#id' + data.idCategory", aria-expanded="false" ,aria-controls="")
                        i.my-0.mr-2.p-1.pointer.hover-warning.bi.bi-pencil-square.text-muted.h4((click) = "editForm(button,parent)" )
                        i.p-1.my-0.pointer.hover-danger.bi.bi-trash3.text-muted.h4((click) = "alertDeleteCategory(data,false)",data-toggle="modal",data-target="#deleteCategory" )
            //- div.collapse([id]="'id'+data.idCategory")
            //-     table.table-bordered.table
            //-         tbody 
            //-             tr  
            //-                 td
            //-                     b Màu: 
            //-                     span( *ngFor="let color of data?.colorList; let i = index" ) {{ color.colorName  }}
            //-                         span( *ngIf="i !== data?.colorList?.length-1" ) , 
            //-                     span.text-warning( *ngIf="data?.colorList?.length < 1" ) Không có màu
            //-                 td
            //-                     b Kích thước: 
            //-                     span( *ngFor="let size of data?.sizeList; let i = index" ) {{ size.sizeName  }}
            //-                         span( *ngIf="i !== data?.sizeList?.length-1" ) , 
            //-                     span.text-warning( *ngIf="data?.sizeList?.length<1" ) Không có kích thước
            // modal Màu
            div.modal.fade([id]="'color' + data.idCategory " tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
                div.modal-dialog.modal-dialog-centered.modal-lg
                    div.modal-content
                        div.modal-header.py-1
                            h5.modal-title( id="exampleModalLabel") Thêm sửa xóa màu cho màu
                            span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
                                span(aria-hidden="true") &times;
                        div.modal-body
                            div.mb-3 
                                span (
                                span.text-danger * 
                                span ) Bắt buộc nhập
                                form.mb-3( [formGroup] = "formColor" , (submit)="onSubmitColor()") 
                                    label(for="colorName") Màu sắc 
                                        span.text-danger *
                                    input.border.form-control(type="text", formControlName = "colorName")
                                    div.text-danger( *ngIf="formColor.controls['colorName']?.errors?.required && submitColor" ) Không bỏ trống 
                                    button.btn.my-2.btn-primary(type="submit") Lưu Màu
                                table.table
                                    thead 
                                        tr 
                                            th Màu
                                            th
                                    tbody  
                                        tr( *ngFor="let color of colorList")
                                            td 
                                                input.pr-2(type="checkbox") 
                                                span.pl-2 {{ color.colorName }}
                                            td 
                                                div.d-flex
                                                    i.my-0.ml-auto.mr-2.p-1.pointer.hover-warning.bi.bi-pencil-square.text-muted.h4((click) = "editColor(color)" )
                                                    i.p-1.my-0.pointer.hover-danger.bi.bi-trash3.text-muted.h4((click) = "alertDeleteColor(color)",data-toggle="modal",data-target="#deleteColor" )
            div.modal.fade(style="z-index:9999" ,id="deleteColor" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
                div.modal-dialog.modal-dialog-centered
                    div.modal-content
                        div.modal-header.py-1
                            h5.modal-title( id="exampleModalLabel") Xóa màu
                            span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
                                span(aria-hidden="true") &times;
                        div.modal-body.text-center 
                            span Xóa kích thước 
                                b {{colorDelete?.colorName}}
                        div.modal-footer.text-center.d-flex
                            button.mx-auto.btn.btn-primary(data-dismiss="modal") Đóng
                            button.mx-auto.btn.btn-danger( data-dismiss="modal",(click)="deleteColor()") Xóa 



            //Modal Size
            div.modal.fade([id]="'size' + data.idCategory " tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
                div.modal-dialog.modal-dialog-centered.modal-lg
                    div.modal-content
                        div.modal-header.py-1
                            h5.modal-title( id="exampleModalLabel") Thêm sửa xóa kích thước cho màu
                            span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
                                span(aria-hidden="true") &times;
                        div.modal-body
                            div.mb-3 
                                span (
                                    span.text-danger * 
                                    span ) Bắt buộc nhập
                                form((submit)="onSubmitSize()",[formGroup] = "formSize") 
                                    label(for="sizeName") Kích thước
                                        span.text-danger *
                                    input.border.form-control(type="text", formControlName = "sizeName")
                                    div.text-danger( *ngIf="formSize.controls['sizeName']?.errors?.required && submitSize" ) Không bỏ trống 
                                    button.btn.my-2.btn-primary(type="submit") Lưu kích thước
                                table.table
                                    thead 
                                        tr 
                                            th Kích thước
                                            th
                                    tbody  
                                        tr( *ngFor="let size of dataSize")
                                            td {{ size.sizeName }}
                                            td 
                                                div.d-flex
                                                    i.my-0.ml-auto.mr-2.p-1.pointer.hover-warning.bi.bi-pencil-square.text-muted.h4((click) = "editSize(size)" )
                                                    i.p-1.my-0.pointer.hover-danger.bi.bi-trash3.text-muted.h4((click) = "alertDeleteSize(size)",data-toggle="modal",data-target="#deleteSize" )
            div.modal.fade(style="z-index:9999",id="deleteSize" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
                div.modal-dialog.modal-dialog-centered
                    div.modal-content
                        div.modal-header.py-1
                            h5.modal-title( id="exampleModalLabel") Xóa kích thước
                            span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
                                span(aria-hidden="true") &times;
                        div.modal-body.text-center 
                            span Xóa màu 
                                b {{sizeDelete?.sizeName}}
                        div.modal-footer.text-center.d-flex
                            button.mx-auto.btn.btn-primary(data-dismiss="modal") Đóng
                            button.mx-auto.btn.btn-danger(  data-dismiss="modal",(click)="deleteSize()") Xóa 


        //- div.spinner-border.text-primary(role="role")
        //-     span.sr-only Loading...
        //-     span hello
div.modal.fade(id="deleteCategory" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
  div.modal-dialog.modal-dialog-centered
    div.modal-content
        div.modal-header.py-1
            h5.modal-title( id="exampleModalLabel") Xác nhận xóa
            span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
                span(aria-hidden="true") &times;
        div.modal-body
            div.text-center.mb-3 Xóa màu 
                b(*ngIf= "deleteCategory.data?.colorName") {{ deleteCategory.data?.colorName }} 
                span(  )
                    | thì các 
                    b sản phẩm thuộc màu 
                    | cũng sẽ mất theo.
                    br
                    
            div.d-flex 
                button.btn.btn-primary.mx-auto(data-dismiss="modal", aria-label="Close"  ) Đóng
                button.btn.btn-danger.mx-auto(data-dismiss="modal",(click) = "deleteCate()") Xác nhận
