frontend/src/modules/dashboard/containers/dashboard/dashboard.component.html
<sb-layout-dashboard
    ><sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="false"></sb-dashboard-head><sb-dashboard-cards [thongKe]="thongke?.data"></sb-dashboard-cards>
    <div class="row px-0 mb-3 bg-light">
        <div class="col-12"><p class="pt-2">Lọc doanh thu và số lượng bán được theo ngày</p></div>
        <div class="col-5"><label for="">Thời gian bắt đầu </label><input class="col-4 pr3 form-control" type="date" [(ngModel)]="startDate" /></div>
        <div class="col-5"><label for="">Thời gian kết thúc </label><input class="col-4 pr3 form-control" type="date" [(ngModel)]="endDate" /></div>
        <div class="col-2 d-flex"><button class="mt-auto w-100 btn btn-primary" (click)="getThongKe()">Lọc</button></div>
    </div>
    <div class="row px-0">
        <div class="col-xl-3 bg-light row pr-xl-3 pr-0">
            <div class="col-xl-12 col-6 mb-3 bg-success text-white">
                <div class="card-body h-100px">
                    <div class="text-center h4">Số lượng bán</div>
                    <div class="h-100 w-100 d-flex h4"><span class="m-auto"> {{thongke?.data?.soLuongBan ? thongke?.data?.soLuongBan : 0}} </span></div>
                </div>
            </div>
            <div class="col-xl-12 col-6 mb-3 bg-danger text-white">
                <div class="card-body h-100px">
                    <div class="text-center h4">Doanh thu</div>
                    <div class="h-100 w-100 d-flex h4"><span class="m-auto"> {{thongke?.data?.doanhThu | number}}VND</span></div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 pr-xl-3">
            <sb-card
                ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Thống kê doanh thu của năm nay</div>
                <div class="card-body"><sb-charts-bar></sb-charts-bar></div
            ></sb-card>
        </div></div
></sb-layout-dashboard>

frontend/src/modules/dashboard/containers/dashboard/dashboard.component.pug
sb-layout-dashboard
    sb-dashboard-head(title='Dashboard', [hideBreadcrumbs]='false')
    sb-dashboard-cards( [thongKe]="thongke?.data" )
    div.row.px-0.mb-3.bg-light
        div.col-12
            p.pt-2 Lọc doanh thu và số lượng bán được theo ngày
        div.col-5
            label(for="") Thời gian bắt đầu  
            input.col-4.pr3.form-control(type="date", [(ngModel)]="startDate")
            //- span {{ startDate }}
        div.col-5
            label(for="") Thời gian kết thúc 
            input.col-4.pr3.form-control(type="date", [(ngModel)]="endDate")
        div.col-2.d-flex 
            button.mt-auto.w-100.btn.btn-primary((click)="getThongKe()") Lọc
    .row.px-0
        .col-xl-3.bg-light.row.pr-xl-3.pr-0
            .col-xl-12.col-6.mb-3.bg-success.text-white
                .card-body.h-100px
                    .text-center.h4 Số lượng bán 
                    .h-100.w-100.d-flex.h4
                        span.m-auto  {{thongke?.data?.soLuongBan ? thongke?.data?.soLuongBan : 0}} 
                
            .col-xl-12.col-6.mb-3.bg-danger.text-white
                .card-body.h-100px
                    .text-center.h4 Doanh thu
                    .h-100.w-100.d-flex.h4
                        span.m-auto   {{thongke?.data?.doanhThu | number}}VND
                
        .col-xl-9.pr-xl-3
            sb-card
                .card-header
                    fa-icon.mr-1([icon]='["fas", "chart-bar"]')
                    | Thống kê doanh thu của năm nay
                .card-body
                    sb-charts-bar(  )
